extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName=""

block content
  +title({
    text:"부서별 민원현황 (월별)",
    lv:2,
  })
  p.sub_decs 시흥시 오늘의 민원 건수 및 민원이 가장 많은 부서/키워드를 보여줍니다.
  .minwon_month 
    .chart_secbump
      .search_date 
        .box
          span.label 검색일자
          .selects 
            +select({
              options : [
                '2023년',
              ]
            })
            +select({
              options : [
                '7월',
              ]
            })
            button(type="button") 
              span 조회
      .titles 
        p.title1 민원 월별 추이
        p.decs 검색년도에 민원이 가장 많은 TOP10개의 부서 월별 추이를 보여드립니다.
        button(type="button").download EXCLEL
      .chart_wrap
        
        .chart
    .chart_secpie
      .search_date 
        .box
          span.label 검색일자
          .selects 
            +select({
              options : [
                '2023년',
              ]
            })
            +select({
              options : [
                '7월',
              ]
            })
            button(type="button") 
              span 조회
      .titles 
        p.title1 분야 TOP 10
        p.decs 검색년도에 민원이 가장 많은 TOP10개의 부서를 보여드립니다
        button(type="button").download EXCLEL
      .chart_wrap
        
        .chart