extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName="main_page"

block content
  .main 
    .section.sc1
      p.main_title 
        span 
          em 실시간
          | 으로 보는
        span.big 시흥시 스마트시정
      .weather_legend
        .weather
          .title 날씨
          <!-- ico_wd1, ico_wd1_2, ico_wd1_3, ico_wd1_4, ico_wd1_5, ico_wd1_6, ico_wd1_7, ico_wd1_8 -->
          .data.type1.ico_wd1_2
            | 25.0ºC
          .data.type1.ico_wd2
            | 70%
        .legend.pc 
          p.type1 범례1
          p.type2 범례2
          p.type3 범례3
          p.type4 범례4
      .data_list 
        ul 
          li 
            button(type="button").mui_active
              span.ico
                img(src="/src/images/ico_mainmap1.svg", alt="")
                img(src="/src/images/ico_mainmap1_on.svg", class="active", alt="")
              | 주요 택지지구
          li 
            button(type="button") 
              span.ico
                img(src="/src/images/ico_mainmap2.svg", alt="")
                img(src="/src/images/ico_mainmap2_on.svg", class="active", alt="")
              | 서해안 철도요지
          li 
            button(type="button") 
              span.ico
                img(src="/src/images/ico_mainmap3.svg", alt="")
                img(src="/src/images/ico_mainmap3_on.svg", class="active", alt="")
              | 걷고 싶은 친환경 도시
          li 
            button(type="button") 
              span.ico
                img(src="/src/images/ico_mainmap4.svg", alt="")
                img(src="/src/images/ico_mainmap4_on.svg", class="active", alt="")
              | 대한민국 대표 교육도시
          li 
            button(type="button") 
              span.ico
                img(src="/src/images/ico_mainmap5.svg", alt="")
                img(src="/src/images/ico_mainmap5_on.svg", class="active", alt="")
              | 지역 경제 분야
      .main_map(mui-mainmap)
        

      .weather_legend.mobile
        .legend 
          p.type1 범례1
          p.type2 범례2
          p.type3 범례3
          p.type4 범례4
    .section.sc2
      .list_box 
        p.title1 데이터명
        
        .population
          p 
            | 123,456 
            span.label 인구수(명)
          p 
            | 123,456 
            span.label 남성(명)
          p 
            | 123,456 
            span.label 여성(명)
        p.title2 인구수 추이(명)
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                .slide_chart#chart1
              .slide_list.swiper-slide
                .slide_chart#chart2
              .slide_list.swiper-slide
                .slide_chart#chart3
        .source
          a(href="", mui-toggle="target:#source1;mode:hover;").more 출처
          .source_layer#source1(hidden="")
            .data_table 
              +dataTable({
                caption:"출처",
                colgroup:['cols1','cols2','cols3'],
                headData:[
                  [
                    {
                      text: "데이터",
                    },
                    {
                      text: "출처",
                    },
                    {
                      text: "기준일자",
                    },
                  ],
                ],
                bodyData:[
                  [
                    {
                      text: "일반",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "청년",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "노인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "장애인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                ]
              })
      .list_box 
        p.title1 지역 경제 분야
        
        .population.type2
          dl 
            dt 사업체 및 종사자
            dd 
              span.block
                | 274
                span.min 개
              span.block
                | 274
                span.min 명
          dl 
            dt 제조업 법인 수
            dd 
              span.block
                | 18,844
                span.min 개
                span.min.block (경기도 2위)
          dl 
            dt 지역 내 총생산
            dd 
              span.block
                | 15
                span.min 조
              span.block
                | 5,850
                span.min 억원
          dl 
            dt 시루 누적 발행액
            dd 
              span.block
                | 1
                span.min 조
              span.block
                | 850
                span.min 억원
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                p.title2 연도별 시루 발행액(환급액)
                .slide_chart#linechart
              .slide_list.swiper-slide
                p.title2 연도별 시흥 GRDP 지표 추이
                .slide_chart#barchart6
      .list_box 
        p.title1 교육 도시 분야
        
        .population.type2
          dl 
            dt 평생교육<br>등록강사 수
            dd 
              span.block
                | 274
                span.min 명
          dl 
            dt 쏙(SSOC)<br>제공강좌 수
            dd 
              span.block
                | 51
                span.min 개
          dl 
            dt 일평균 도서관<br>이용자 수
            dd 
              span.block
                | 40
                span.min 개교
          dl 
            dt 방과후 체험교실<br>개방 학교
            dd 
              span.block
                | 12
                span.min 개교
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                p.title2 교육 플랫폼 쏙(SSOC) 활성화
                .slide_chart#barchart4
              .slide_list.swiper-slide
                p.title2 평생 교육자원 제공분야
                .slide_chart#barchart5
      .list_box 
        p.title1 산림 및 녹지 분야
        
        .population.type2
          dl 
            dt.multiline 녹지현황
            dd 
              span.block
                | 274
                span.min 개소
              span.block
                | 2,374
                span.min ㎢
          dl 
            dt.multiline 공원현황
            dd 
              span.block
                | 51
                span.min 개소
          dl 
            dt 학교 숲<br>조성 현황
            dd 
              span.block
                | 40
                span.min 개교
              span.min.block (21%)
          dl 
            dt 산사태<br>취약지역(면적)
            dd 
              span.block
                | 12
                span.min 개소
              span.block
                | 12
                span.min ㎢
              
              span.min.block (21%)
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                p.title2 관내 역별 탑승객(이용객)수
                .slide_chart#barchart3
              .slide_list.swiper-slide
                p.title2 거래 지역별 부동산 매매 현황
                .slide_chart#piechart
      .list_box 
        p.title1 주거 및 인구 분야
        
        .population.type2
          dl 
            dt 주민등록 인구
            dd 
              span.block
                | 518,336 
                span.min 명
          dl 
            dt 주택 수
            dd 
              span.block
                | 518,336 
                span.min 세
          dl 
            dt 청년 인구 (비중)
            dd 
              span.block
                | 518,336 
                span.min 명
              span.min.block (21%)
          dl 
            dt 주민등록 인구
            dd 
              span.block
                | 518,336 
                span.min 명
              span.min.block (21%)
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                p.title2 최근 5년간 인구 증감(명)
                .slide_chart#chart1_2
              .slide_list.swiper-slide
                p.title2 최근 5년간 순이동인구 수(전입인구-전출인구)
                .slide_chart#chart2_2
      .list_box 
        p.title1 교통 및 철도 분야
        
        .population.type2
          dl 
            dt 일평균 지하철<br>이용객수
            dd 
              span.block
                | 518,336 
                span.min 명
          dl 
            dt 버스<br>운행대수
            dd 
              span.block
                | 518,336 
                span.min 대
          dl 
            dt 택시<br>운영현황
            dd 
              span.block
                span.min 개인
                | 8,336 
                span.min 대
              span.block
                span.min 법인
                | 276
                span.min 대
          dl 
            dt 교통약자<br>이동지원 차량
            dd 
              span.block
                | 63
                span.min 명
        .slides_chart(mui-slider="pagination:true;loop:false;")
          .slider
            .swiper-wrapper
              .slide_list.swiper-slide
                p.title2 관내 버스노선 종류별 분포
                .slide_chart#barchart1
              .slide_list.swiper-slide
                p.title2 관내 역별 탑승객(이용객)수
                .slide_chart#barchart2
        .source
          a(href="", mui-toggle="target:#source1_2;mode:hover;").more 출처
          .source_layer#source1_2(hidden="")
            .data_table 
              +dataTable({
                caption:"출처",
                colgroup:['cols1','cols2','cols3'],
                headData:[
                  [
                    {
                      text: "데이터",
                    },
                    {
                      text: "출처",
                    },
                    {
                      text: "기준일자",
                    },
                  ],
                ],
                bodyData:[
                  [
                    {
                      text: "일반",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                ]
              })
      .list_box 
        p.title1 일자리
        ul.req_data
          li 
            p.title2 일반
            .data_box 
              dl 
                dt 일자리 창출
                dd 
                  span.txt1 목표 : 
                  span.txt2 29,500명
                  span.txt1 실적 :
                  span.txt2 20,0003명
              dl 
                dt 고용율
                dd 
                  span.txt3 
                    | 63.9
                    span.per %
                  em.up 0.4%
                  span.txt4 직전(반기 별) 조사보다 0.4% 상승
          li 
            p.title2 청년
            .data_box 
              dl 
                dt 일자리 창출
                dd 
                  span.txt1 목표 : 
                  span.txt2 29,500명
                  span.txt1 실적 :
                  span.txt2 20,0003명
              dl 
                dt 고용율
                dd 
                  span.txt3 
                    | 63.9
                    span.per %
                  em.down 0.4%
                  span.txt4 직전(반기 별) 조사보다 0.4% 상승
          li 
            p.title2 노인
            .data_box 
              dl 
                dt 일자리 창출
                dd 
                  span.txt1 목표 : 
                  span.txt2 29,500명
                  span.txt1 실적 :
                  span.txt2 20,0003명
              dl 
                dt 고용율
                dd 
                  span.txt3 
                    | 63.9
                    span.per %
                  em.up 0.4%
                  span.txt4 직전(반기 별) 조사보다 0.4% 상승
              .btns
                button(type="button").type1
                  span 관련 정책
                button(type="button").type2
                  span 일자리보기
          li 
            p.title2 장애인
            .data_box 
              dl 
                dt 일자리 창출
                dd 
                  span.txt1 목표 : 
                  span.txt2 29,500명
                  span.txt1 실적 :
                  span.txt2 20,0003명
              dl 
                dt 고용율
                dd 
                  span.txt3 
                    | 63.9
                    span.per %
                  em.up 0.4%
                  span.txt4 직전(반기 별) 조사보다 0.4% 상승
              .btns
                button(type="button").type1
                  span 관련 정책
                button(type="button").type2
                  span 일자리보기
        .source
          a(href="", mui-toggle="target:#source2;mode:hover;").more 출처
          .source_layer#source2(hidden="")
            .data_table 
              +dataTable({
                caption:"출처",
                colgroup:['cols1','cols2','cols3'],
                headData:[
                  [
                    {
                      text: "데이터",
                    },
                    {
                      text: "출처",
                    },
                    {
                      text: "기준일자",
                    },
                  ],
                ],
                bodyData:[
                  [
                    {
                      text: "일반",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "청년",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "노인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "장애인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                ]
              })
        

    .section.sc3
      .list_box 
        p.title1
          a(href="") 시정뉴스
        .switch_toggle
          +radioCheck({
            name:'chk',
            label:'<span class="label1">카드뉴스</span><span class="label2">미디어 시흥</span>',
          })
        .news_list 
          ul 
            li 
              a(href="") 
                span.text [카드 뉴스] 2022년 세번째 카드뉴스 세번째 카드뉴스 세번째 카드뉴스
                span.date 2023-01-01
            li 
              a(href="") 
                span.text [카드 뉴스] 2022년 세번째 카드뉴스
                span.date 2023-01-01
            li 
              a(href="") 
                span.text [카드 뉴스] 2022년 세번째 카드뉴스
                span.date 2023-01-01
            li 
              a(href="") 
                span.text [카드 뉴스] 2022년 세번째 카드뉴스
                span.date 2023-01-01
            li 
              a(href="") 
                span.text [카드 뉴스] 2022년 세번째 카드뉴스
                span.date 2023-01-01
      .list_box 
        p.title1 SNS 현황
        .sns_list 
          .box 
            p.sns_title 
              a(href="") 홍보영상
            ul.list_thumb   
              li 
                a(href="") 
                  .img 
                    img(src="/src/images/img_ex4.png", alt="")
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
              li 
                a(href="") 
                  .img 
                    img(src="/src/images/img_ex4.png", alt="")
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
              li 
                a(href="") 
                  .img 
                    img(src="/src/images/img_ex4.png", alt="")
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
              li 
                a(href="") 
                  .img 
                    img(src="/src/images/img_ex4.png", alt="")
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
          .box 
            p.sns_title.type02
              a(href="") 블로그
            ul.list_thumb   
              li 
                a(href="")
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
                    p.list_decs ‘제3회 시흥시 청소년 아이디어 제안대회’에 참가할 청소년을 오는 8월1일까..
              li 
                a(href="") 
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
                    p.list_decs ‘제3회 시흥시 청소년 아이디어 제안대회’에 참가할 청소년을 오는 8월1일까..
              li 
                a(href="") 
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
                    p.list_decs ‘제3회 시흥시 청소년 아이디어 제안대회’에 참가할 청소년을 오는 8월1일까..
              li 
                a(href="") 
                  .texts 
                    p.list_title 제3회 시흥시 청소년 아이디어 청소년 아이디어 청소년 아이디어
                    p.list_decs ‘제3회 시흥시 청소년 아이디어 제안대회’에 참가할 청소년을 오는 8월1일까..
        a(href="").more 출처
      .list_box 
        p.title1
          a(href="") 공약현황
        .prms_status
          .table_list
            p.title2 
              em 5대 
              | 목표 - 
              em 10대 
              | 추진전략 분포표
            a(href="").detail_view 상세보기
            ul.list
              li 
                .box 
                  span.num 55
                  .texts 
                    p.sub 
                      | 시민이 
                      em 잘사는
                    p.ma
                      | K-
                      em 교육
                      |  · K-
                      em 경제
              li 
                .box 
                  span.num 55
                  .texts 
                    p.sub 
                      | 시민이 
                      em 잘사는
                    p.ma
                      | K-
                      em 교육
                      |  · K-
                      em 경제
              li 
                .box 
                  span.num 55
                  .texts 
                    p.sub 
                      | 시민이 
                      em 잘사는
                    p.ma
                      | K-
                      em 교육
                      |  · K-
                      em 경제
              li 
                .box 
                  span.num 55
                  .texts 
                    p.sub 
                      | 시민이 
                      em 잘사는
                    p.ma
                      | K-
                      em 교육
                      |  · K-
                      em 경제
              li 
                .box 
                  span.num 55
                  .texts 
                    p.sub 
                      | 시민이 
                      em 잘사는
                    p.ma
                      | K-
                      em 교육
                      |  · K-
                      em 경제
            
          .keyword_list
            p.title2 
              em 140대 
              | 시정과제
            .list 
              a(href="") 비전공약 36개
              a(href="") 균형발전 37개
              a(href="") 40대 중첩과제

        .source
          a(href="", mui-toggle="target:#source3;mode:hover;").more 출처
          .source_layer#source3(hidden="")
            .data_table 
              +dataTable({
                caption:"출처",
                colgroup:['cols1','cols2','cols3'],
                headData:[
                  [
                    {
                      text: "데이터",
                    },
                    {
                      text: "출처",
                    },
                    {
                      text: "기준일자",
                    },
                  ],
                ],
                bodyData:[
                  [
                    {
                      text: "일반",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "청년",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "노인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                  [
                    {
                      text: "장애인",
                      isTitle:true
                    },
                    {
                      text: "내용"
                    },
                    {
                      text: "내용"
                    }
                  ],
                ]
              })
      .list_box_wrap 
        .list_box 
          p.title1 데이터명
          
          .population
            p 
              | 123,456 
              span.label 인구수(명)
            p 
              | 123,456 
              span.label 남성(명)
            p 
              | 123,456 
              span.label 여성(명)
          p.title2 인구수 추이(명)
          .slides_chart(mui-slider="pagination:true;")
            .slider
              .swiper-wrapper
                .slide_list.swiper-slide
                  .slide_chart#chart1_1
                .slide_list.swiper-slide
                  .slide_chart#chart2_1
                .slide_list.swiper-slide
                  .slide_chart#chart3_1
            


          .source
            a(href="", mui-toggle="target:#source4;mode:hover;").more 출처
            .source_layer#source4(hidden="")
              .data_table 
                +dataTable({
                  caption:"출처",
                  colgroup:['cols1','cols2','cols3'],
                  headData:[
                    [
                      {
                        text: "데이터",
                      },
                      {
                        text: "출처",
                      },
                      {
                        text: "기준일자",
                      },
                    ],
                  ],
                  bodyData:[
                    [
                      {
                        text: "일반",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "청년",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "노인",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "장애인",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                  ]
                })
        .list_box 
          p.title1 일자리
          ul.req_data
            li 
              p.title2 일반
              .data_box 
                dl 
                  dt 일자리 창출
                  dd 
                    span.txt1 목표 : 
                    span.txt2 29,500명
                    span.txt1 실적 :
                    span.txt2 20,0003명
                dl 
                  dt 고용율
                  dd 
                    span.txt3 
                      | 63.9
                      span.per %
                    em.up 0.4%
                    span.txt4 직전(반기 별) 조사보다 0.4% 상승
            li 
              p.title2 청년
              .data_box 
                dl 
                  dt 일자리 창출
                  dd 
                    span.txt1 목표 : 
                    span.txt2 29,500명
                    span.txt1 실적 :
                    span.txt2 20,0003명
                dl 
                  dt 고용율
                  dd 
                    span.txt3 
                      | 63.9
                      span.per %
                    em.down 0.4%
                    span.txt4 직전(반기 별) 조사보다 0.4% 상승
            li 
              p.title2 노인
              .data_box 
                dl 
                  dt 일자리 창출
                  dd 
                    span.txt1 목표 : 
                    span.txt2 29,500명
                    span.txt1 실적 :
                    span.txt2 20,0003명
                dl 
                  dt 고용율
                  dd 
                    span.txt3 
                      | 63.9
                      span.per %
                    em.up 0.4%
                    span.txt4 직전(반기 별) 조사보다 0.4% 상승
                .btns
                  button(type="button").type1
                    span 관련 정책
                  button(type="button").type2
                    span 일자리보기
            li 
              p.title2 장애인
              .data_box 
                dl 
                  dt 일자리 창출
                  dd 
                    span.txt1 목표 : 
                    span.txt2 29,500명
                    span.txt1 실적 :
                    span.txt2 20,0003명
                dl 
                  dt 고용율
                  dd 
                    span.txt3 
                      | 63.9
                      span.per %
                    em.up 0.4%
                    span.txt4 직전(반기 별) 조사보다 0.4% 상승
                .btns
                  button(type="button").type1
                    span 관련 정책
                  button(type="button").type2
                    span 일자리보기
          .source
            a(href="", mui-toggle="target:#source5;mode:hover;").more 출처
            .source_layer#source5(hidden="")
              .data_table 
                +dataTable({
                  caption:"출처",
                  colgroup:['cols1','cols2','cols3'],
                  headData:[
                    [
                      {
                        text: "데이터",
                      },
                      {
                        text: "출처",
                      },
                      {
                        text: "기준일자",
                      },
                    ],
                  ],
                  bodyData:[
                    [
                      {
                        text: "일반",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "청년",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "노인",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                    [
                      {
                        text: "장애인",
                        isTitle:true
                      },
                      {
                        text: "내용"
                      },
                      {
                        text: "내용"
                      }
                    ],
                  ]
                })
            

  script.
    var merge = GCui.util.merge;
    var find = GCui.util.find;
    var chartStyle = {
      grid: {
        borderColor: "#666",
      },
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"14px"
          },
          formatter: (value) => { 
            return new Intl.NumberFormat('en-US', {
              notation: 'compact',
              maximumFractionDigits: 1,
            }).format(value)
          },
        }
      }, 
      chart: {
        type: "area",
        height: 160,
        dropShadow: {
          enabled: true,
          color: "#000"
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      stroke: {
        curve: "straight",
        width: 1,
        colors: ["#ED6C00"]
      },
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          type: "vertical",
          colorStops: [
            [
              {
                offset: 0,
                color: "#ED6C00",
                opacity: 0.4
              },
              {
                offset: 100,
                color: "#ED6C00",
                opacity: 0
              },
            ]
          ]
        }
      },
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"14px"
          }
        }
      },
    };
    var optionChart1 = Object.assign({}, chartStyle, {
      series: [
        {
          data: [
            {
              x: ['2019'],
              y: 30000
            },
            {
              x: ['2020'],
              y: 40000
            },
            {
              x: ['2021'],
              y: 30000
            },
            {
              x: ['2022'],
              y: 40000
            },
            {
              x: ['2023'],
              y: 30000
            },
            {
              x: ['2024'],
              y: 40000
            },
          ]
        }
      ],
    })
    var optionChart2 = Object.assign({}, chartStyle, {
      series: [
        {
          data: [
            {
              x: ['2017'],
              y: 30000
            },
            {
              x: ['2020'],
              y: 40000
            },
            {
              x: ['2021'],
              y: 30000
            },
            {
              x: ['2022'],
              y: 40000
            },
            {
              x: ['2023'],
              y: 30000
            },
            {
              x: ['2024'],
              y: 40000
            },
          ]
        }
      ]
    })
    var optionChart3 = Object.assign({}, chartStyle, {
      series: [
        {
          data: [
            {
              x: ['2012'],
              y: 30000
            },
            {
              x: ['2020'],
              y: 40000
            },
            {
              x: ['2021'],
              y: 30000
            },
            {
              x: ['2022'],
              y: 40000
            },
            {
              x: ['2023'],
              y: 30000
            },
            {
              x: ['2024'],
              y: 40000
            },
          ]
        }
      ]
    })
    var optionChart4 = {
      series: [
        {
          data: [
            {
              x: ['시내일반'],
              y: 60
            },
            {
              x: ['시내좌석'],
              y: 50
            },
            {
              x: ['공항버스'],
              y: 40
            },
            {
              x: ['시외버스'],
              y: 30
            },
            {
              x: ['고속버스'],
              y: 50
            },
            {
              x: ['마을버스'],
              y: 40
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"12px"
          }
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:16,
        }
      },
      chart: {
        type: "bar",
        height: 160,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"10px"
          }
        }
      },
    };

    var optionChart5 = {
      series: [
        {
          data: [
            {
              x: ['시흥대야역'],
              y: 6000
            },
            {
              x: ['신천역'],
              y: 15000
            },
            {
              x: ['신현역'],
              y: 4000
            },
            {
              x: ['시흥시청역'],
              y: 3000
            },
            {
              x: ['시흥능곡역'],
              y: 5000
            },
            {
              x: ['정왕역'],
              y: 4000
            },
            {
              x: ['오이도역'],
              y: 4000
            },
            {
              x: ['달월역'],
              y: 4000
            },
            {
              x: ['월곶역'],
              y: 4000
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"12px"
          }
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:16,
        }
      },
      chart: {
        type: "bar",
        height: 160,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"10px"
          }
        }
      },
    };
    var optionChart6 = {
      series: [1000, 800, 500, ],
      chart: {
        height: 150,
        type: 'pie',
      },
      labels: ['국유림', '공유림', '사유림'],
      colors: ["#ED4700", "#ED7200", "#F5921D"],
      stroke: {
        show: true,
        curve: 'smooth',
        lineCap: 'butt',
        colors: "#ED4700",
        width: 1,
      },
      dataLabels: {
        formatter: function (val, {seriesIndex, w}) {
          return w.globals.series[seriesIndex];
        },
      },
      plotOptions: {
        pie: {
          dataLabels: {
            offset: -15,
            minAngleToShowLabel: 10,
            formatter: function (val, opts) {
              console.log(val)
              return val
            },
          },
          offsetX: -80,
          offsetY: 0,
        }
      }
    };

    var optionChart7 = {
      series: [
        {
          data: [
            {
              x: ['은행나무'],
              y: 6000
            },
            {
              x: ['양버즘나무'],
              y: 15000
            },
            {
              x: ['느티나무'],
              y: 4000
            },
            {
              x: ['왕벚나무'],
              y: 3000
            },
            {
              x: ['은단풍나무'],
              y: 5000
            },
            {
              x: ['소나무'],
              y: 4000
            },
            {
              x: ['이팝나무'],
              y: 4000
            },
            {
              x: ['가죽나무'],
              y: 4000
            },
            {
              x: ['감나무'],
              y: 4000
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"12px"
          }
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:16,
        }
      },
      chart: {
        type: "bar",
        height: 160,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"10px"
          }
        }
      },
    };
    var optionChart8 = {
      series: [
        {
          name:'가입자수',
          data:[700, 600, 600, 600, 600, 600, 600, 600, 600, 600, 600, 600]
        },
        {
          name:'조회수',
          data:[700, 600, 600, 600, 600, 600, 600, 600, 600, 600, 600, 600]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"12px"
          }
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:16,
        }
      },
      chart: {
        type: "bar",
        height: 180,
        stacked:true,
        zoom: {
          enabled: false
        },
        
      },
      colors: ['#ED9C00', '#ED6C00'],
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },

      xaxis: {
        categories: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"12px"
          }
        }
      },
    };
    var optionChart9 = {
      series: [
        {
          data: [
            {
              x: ['문화/예술'],
              y: 230
            },
            {
              x: ['체육/레저'],
              y: 100
            },
            {
              x: ['인문/사회'],
              y: 180
            },
            {
              x: ['기타'],
              y: 160
            },
            {
              x: ['소프트웨어/과학'],
              y: 140
            },
            {
              x: ['돌봄/복지'],
              y: 120
            },
            {
              x: ['보건/건강'],
              y: 100
            },
            {
              x: ['생태/환경'],
              y: 80
            },
          ]
        }
      ],
      yaxis: {
        labels: {
          style:{
            fontSize:"10px"
          },
          offsetY:8
        }
      }, 
      plotOptions: {
        bar: {
          barHeight:6,
          horizontal:true,
        }
      },
      chart: {
        type: "bar",
        height: 180,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"10px"
          }
        }
      },
    };
    var optionChart10 = {
      series: [
        {
          data: [
            {
              x: ['2018'],
              y: 60
            },
            {
              x: ['2019'],
              y: 50
            },
            {
              x: ['2020'],
              y: 40
            },
            {
              x: ['2021'],
              y: 30
            },
            {
              x: ['2022'],
              y: 50
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"12px"
          }
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:16,
        }
      },
      chart: {
        type: "bar",
        height: 160,
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"10px"
          }
        }
      },
    };
    
    GCui.chart('#chart1', {chartOptions:optionChart1})
    GCui.chart('#chart2', {chartOptions:optionChart2})
    GCui.chart('#chart3', {chartOptions:optionChart3})
    GCui.chart('#chart1_1', {chartOptions:optionChart1})
    GCui.chart('#chart2_1', {chartOptions:optionChart2})
    GCui.chart('#chart3_1', {chartOptions:optionChart3})
    GCui.chart('#chart1_2', {chartOptions:optionChart1})
    GCui.chart('#chart2_2', {chartOptions:optionChart2})
    GCui.chart('#barchart1', {chartOptions:optionChart4})
    GCui.chart('#barchart2', {chartOptions:optionChart5})
    GCui.chart('#piechart', {chartOptions:optionChart6})
    GCui.chart('#barchart3', {chartOptions:optionChart7})
    GCui.chart('#barchart4', {chartOptions:optionChart8})
    GCui.chart('#barchart5', {chartOptions:optionChart9})
    GCui.chart('#linechart', {chartOptions:optionChart1})
    GCui.chart('#barchart6', {chartOptions:optionChart10})
    
    
    GCui.slider('[mui-slider]').Swiper.on('slideChangeTransitionEnd', function(e){
      var activeSlide = e.slides[e.activeIndex];
      console.log(find('.slide_chart', activeSlide))
    })

