extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName=""

block content
  +title({
    text:"부서별 민원현황 (일별)",
    lv:2,
  })
  .board_top 
    .sort 
      +select({
        options : [
          '작성일'
        ]
      })
      +select({
        options : [
          '내림차순'
        ]
      })
      +select({
        options : [
          '작성일'
        ]
      })
      +input_button({
        btnText:"검색",
        placeholder:"검색어를 입력해주세요",
        type:"input"
      })
  
    p.board_result_text
      | 검색 결과 
      em 36건
      | 의 게시물이 등록되어 있습니다.
  .board_lists 
    .img_type 
      ul 
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길, K-시흥의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
        li
          a(href="")
            .box
              .img 
                img(src="/src/images/img_ex.png", alt="")
              .title 2023년 나의 길, K-시흥의 길
              .data 
                span.writer 서울시청
                span.date 2023-07-24
    +paging()