extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName=""

block content
  +title({
    text:"부서별 민원현황 (월별)",
    lv:2,
  })
  p.sub_decs 시흥시 오늘의 민원 건수 및 민원이 가장 많은 부서/키워드를 보여줍니다.
  .minwon_month 
    .chart_secbump
      .search_date 
        .box
          span.label 검색일자
          .selects 
            +select({
              options : [
                '2023년',
              ]
            })
            +select({
              options : [
                '7월',
              ]
            })
            button(type="button") 
              span 조회
      .titles 
        p.title1 민원 월별 추이
        p.decs 검색년도에 민원이 가장 많은 TOP10개의 부서 월별 추이를 보여드립니다.
        button(type="button").download EXCLEL
      .chart_wrap
        .chart#bumpChart
        .labels 
          span.label1 교통행정과
          span.label2 환경정책과 
          span.label3 주택과
          span.label4 건설행정과
          span.label5 자원순환과
          span.label6 장애인복지과
          span.label7 건축과
          span.label8 대중교통과
          span.label9 경관디자인과
          span.label1 위생과
    .chart_secpie
      .search_date 
        .box
          span.label 검색일자
          .selects 
            +select({
              options : [
                '2023년',
              ]
            })
            +select({
              options : [
                '7월',
              ]
            })
            button(type="button") 
              span 조회
      .titles 
        p.title1 분야 TOP 10
        p.decs 검색년도에 민원이 가장 많은 TOP10개의 부서를 보여드립니다
        button(type="button").download EXCLEL
      .chart_wrap
        .chart#semiPie
        .rank 
          .rank_lists(mui-slider="direction:vertical;autoplay:true;")
            .slider
              .swiper-wrapper
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 01
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 02
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 03
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 04
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 05
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 06
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 07
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 08
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 09
                      span.text 교통행정과
                      span.score 385 건
                .slide_list.swiper-slide
                  .txt
                    p   
                      span.rank_num 10
                      span.text 교통행정과
                      span.score 385 건
          
          button(type="button").detail_view 자세히 보기

  script.
    var options = {
      series: [4710, 1022, 347, 263, 183, 153, 132, 108, 88,72],
      labels: ['교통행정과', '환경쟁책과', '건설행정과', '자원순환과', '장애인복지과', '건축과', '대중교통과', '경관디자인과', '위생과'],
      chart: {
        type: 'donut',
      },
      colors: ['#21A182', '#2391A2', '#5D3F8B', '#F44B4B', '#F59239', '#00BCCC', '#3464A0', '#E55091', '#A23837', '#66A846'],
      dataLabels: {
        enabled: false
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: true,
                fontSize: '22px',
                color: '#ffffff',
                offsetY: -10
              },
              value: {
                show: true,
                fontSize: '16px',
                color: "#ffffff",
                offsetY: 16,
                formatter: function (val) {
                  return val
                }
              },
              total: {
                show: true,
                label: 'Total',
                color: '#ffffff',
                formatter: function (w) {
                  return w.globals.seriesTotals.reduce((a, b) => {
                    return a + b
                  }, 0)
                }
              }
            }
          },
          offsetY: 20
        }
      },

    };
    var data = [ 
      {label: '교통행정과', step: '22-08', score: 411},
      {label: '교통행정과', step: '22-09', score: 367},
      {label: '교통행정과', step: '22-10', score: 452},
      {label: '교통행정과', step: '22-11', score: 179},
      {label: '교통행정과', step: '22-12', score: 251},
      {label: '교통행정과', step: '23-01', score: 545},
      {label: '교통행정과', step: '23-02', score: 223},
      {label: '교통행정과', step: '23-03', score: 264},
      {label: '교통행정과', step: '23-04', score: 387},
      {label: '교통행정과', step: '23-05', score: 448},
      {label: '교통행정과', step: '23-06', score: 391},
      {label: '교통행정과', step: '23-07', score: 269},
      {label: '교통행정과', step: '23-08', score: 332},
      {label: '교통행정과', step: '23-09', score: 140},
      {label: '환경정책과', step: '22-08', score: 278},
      {label: '환경정책과', step: '22-09', score: 305},
      {label: '환경정책과', step: '22-10', score: 277},
      {label: '환경정책과', step: '22-11', score: 339},
      {label: '환경정책과', step: '22-12', score: 258},
      {label: '환경정책과', step: '23-01', score: 387},
      {label: '환경정책과', step: '23-02', score: 360},
      {label: '환경정책과', step: '23-03', score: 313},
      {label: '환경정책과', step: '23-04', score: 389},
      {label: '환경정책과', step: '23-05', score: 366},
      {label: '환경정책과', step: '23-06', score: 340},
      {label: '환경정책과', step: '23-07', score: 383},
      {label: '환경정책과', step: '23-08', score: 374},
      {label: '환경정책과', step: '23-09', score: 218},
      {label: '주택과', step: '22-08', score: 280},
      {label: '주택과', step: '22-09', score: 319},
      {label: '주택과', step: '22-10', score: 439},
      {label: '주택과', step: '22-11', score: 270},
      {label: '주택과', step: '22-12', score: 302},
      {label: '주택과', step: '23-01', score: 378},
      {label: '주택과', step: '23-02', score: 308},
      {label: '주택과', step: '23-03', score: 343},
      {label: '주택과', step: '23-04', score: 394},
      {label: '주택과', step: '23-05', score: 327},
      {label: '주택과', step: '23-06', score: 400},
      {label: '주택과', step: '23-07', score: 346},
      {label: '주택과', step: '23-08', score: 376},
      {label: '주택과', step: '23-09', score: 344},
      {label: '건설행정과', step: '22-08', score: 413},
      {label: '건설행정과', step: '22-09', score: 441},
      {label: '건설행정과', step: '22-10', score: 355},
      {label: '건설행정과', step: '22-11', score: 430},
      {label: '건설행정과', step: '22-12', score: 381},
      {label: '건설행정과', step: '23-01', score: 546},
      {label: '건설행정과', step: '23-02', score: 423},
      {label: '건설행정과', step: '23-03', score: 469},
      {label: '건설행정과', step: '23-04', score: 427},
      {label: '건설행정과', step: '23-05', score: 516},
      {label: '건설행정과', step: '23-06', score: 541},
      {label: '건설행정과', step: '23-07', score: 450},
      {label: '건설행정과', step: '23-08', score: 550},
      {label: '건설행정과', step: '23-09', score: 325},
      {label: '자원순환과', step: '22-08', score: 131},
      {label: '자원순환과', step: '22-09', score: 132},
      {label: '자원순환과', step: '22-10', score: 106},
      {label: '자원순환과', step: '22-11', score: 107},
      {label: '자원순환과', step: '22-12', score: 116},
      {label: '자원순환과', step: '23-01', score: 152},
      {label: '자원순환과', step: '23-02', score: 112},
      {label: '자원순환과', step: '23-03', score: 116},
      {label: '자원순환과', step: '23-04', score: 134},
      {label: '자원순환과', step: '23-05', score: 132},
      {label: '자원순환과', step: '23-06', score: 133},
      {label: '자원순환과', step: '23-07', score: 144},
      {label: '자원순환과', step: '23-08', score: 174},
      {label: '자원순환과', step: '23-09', score: 120},
      {label: '장애인복지과', step: '22-08', score: 295},
      {label: '장애인복지과', step: '22-09', score: 444},
      {label: '장애인복지과', step: '22-10', score: 371},
      {label: '장애인복지과', step: '22-11', score: 331},
      {label: '장애인복지과', step: '22-12', score: 358},
      {label: '장애인복지과', step: '23-01', score: 402},
      {label: '장애인복지과', step: '23-02', score: 369},
      {label: '장애인복지과', step: '23-03', score: 429},
      {label: '장애인복지과', step: '23-04', score: 468},
      {label: '장애인복지과', step: '23-05', score: 468},
      {label: '장애인복지과', step: '23-06', score: 475},
      {label: '장애인복지과', step: '23-07', score: 435},
      {label: '장애인복지과', step: '23-08', score: 430},
      {label: '장애인복지과', step: '23-09', score: 260},
      {label: '건축과', step: '22-08', score: 121},
      {label: '건축과', step: '22-09', score: 159},
      {label: '건축과', step: '22-10', score: 171},
      {label: '건축과', step: '22-11', score: 171},
      {label: '건축과', step: '22-12', score: 149},
      {label: '건축과', step: '23-01', score: 218},
      {label: '건축과', step: '23-02', score: 247},
      {label: '건축과', step: '23-03', score: 168},
      {label: '건축과', step: '23-04', score: 219},
      {label: '건축과', step: '23-05', score: 225},
      {label: '건축과', step: '23-06', score: 217},
      {label: '건축과', step: '23-07', score: 190},
      {label: '건축과', step: '23-08', score: 179},
      {label: '건축과', step: '23-09', score: 135},
      {label: '대중교통과', step: '22-08', score: 556},
      {label: '대중교통과', step: '22-09', score: 684},
      {label: '대중교통과', step: '22-10', score: 577},
      {label: '대중교통과', step: '22-11', score: 626},
      {label: '대중교통과', step: '22-12', score: 523},
      {label: '대중교통과', step: '23-01', score: 693},
      {label: '대중교통과', step: '23-02', score: 579},
      {label: '대중교통과', step: '23-03', score: 664},
      {label: '대중교통과', step: '23-04', score: 754},
      {label: '대중교통과', step: '23-05', score: 705},
      {label: '대중교통과', step: '23-06', score: 726},
      {label: '대중교통과', step: '23-07', score: 707},
      {label: '대중교통과', step: '23-08', score: 696},
      {label: '대중교통과', step: '23-09', score: 520},
      {label: '경관디자인과', step: '22-08', score: 333},
      {label: '경관디자인과', step: '22-09', score: 399},
      {label: '경관디자인과', step: '22-10', score: 373},
      {label: '경관디자인과', step: '22-11', score: 393},
      {label: '경관디자인과', step: '22-12', score: 354},
      {label: '경관디자인과', step: '23-01', score: 460},
      {label: '경관디자인과', step: '23-02', score: 387},
      {label: '경관디자인과', step: '23-03', score: 564},
      {label: '경관디자인과', step: '23-04', score: 486},
      {label: '경관디자인과', step: '23-05', score: 431},
      {label: '경관디자인과', step: '23-06', score: 357},
      {label: '경관디자인과', step: '23-07', score: 395},
      {label: '경관디자인과', step: '23-08', score: 390},
      {label: '경관디자인과', step: '23-09', score: 291},
      {label: '위생과', step: '22-08', score: 333},
      {label: '위생과', step: '22-09', score: 399},
      {label: '위생과', step: '22-10', score: 373},
      {label: '위생과', step: '22-11', score: 393},
      {label: '위생과', step: '22-12', score: 354},
      {label: '위생과', step: '23-01', score: 460},
      {label: '위생과', step: '23-02', score: 387},
      {label: '위생과', step: '23-03', score: 564},
      {label: '위생과', step: '23-04', score: 486},
      {label: '위생과', step: '23-05', score: 431},
      {label: '위생과', step: '23-06', score: 357},
      {label: '위생과', step: '23-07', score: 395},
      {label: '위생과', step: '23-08', score: 390},
      {label: '위생과', step: '23-09', score: 291},
    ];
    var colors = [
      '#21A182',
      '#00BCCC',
      '#2391A2',
      '#3464A0',
      '#5D3F8B',
      '#E55091',
      '#F44B4B',
      '#A23837',
      '#F59239',
      '#66A846',
    ];
    GCui.chart('#semiPie', {chartOptions:options});
    GCui.bump('#bumpChart', {
      data: data,
      colors: colors
    })
