extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName=""

block content
  .keyword_lank_wrap 
    .sec_lank 
      +title({
        text:"민원 키워드 랭킹",
        lv:2,
      })
      p.decs 검색 날짜에 가장 많이 나타난키워드 순위를 보여드립니다.
      +radioCheck({
        type:"radio",
        name:'chk909406',
        className:"button_type",
        lists:[
          {label:'일별',checked:true},
          {label:'월별',},
        ]
      })
      .date_form 
        .select_date 
          button(type="button").prev
            span 이전
          +datepicker({
            value:"2023-07-05 (수)",
            readonly:true
          })
          button(type="button").next
            span 다음  
          
        button(type="button").submit
          span 조회
      p.d_title 2023-07-05 (수)
      ul.key_list 
        li 
          a(href="") 
            span.num 01
            | 주정차
        li 
          a(href="") 
            span.num 02
            | 불법 주정차 신고
        li 
          a(href="") 
            span.num 03
            | 불법주차
        li 
          a(href="") 
            span.num 04
            | 장애인
        li 
          a(href="") 05
            span.num 
            | 장애인 전용구역 불법주차 신고
        li 
          a(href="") 06
            span.num 
            | 버스정류소
        li 
          a(href="") 
            span.num 07
            | 횡단보도
        li 
          a(href="") 
            span.num 08
            | 장애인 전용구역
        li 
          a(href="") 
            span.num 09
            | 인도 불법
        li 
          a(href="") 
            span.num 10
            | 버스정류소 불법 주정차 신고
        li 
          a(href="") 
            span.num 11
            | 충전구역
        li 
          a(href="") 
            span.num 12
            | 소화전
        li 
          a(href="") 
            span.num 13
            | 충전구역 불법주차

    .sec_total_chart
      +title({
        text:"민원 총괄",
        lv:2,
      })
      p.decs 시흥시의 전반적인 민원 데이터 분석 현황을 보여드립니다.
      .chart_box_wrap 
        .chart_box
          p.title 일별 민원건수
          p.decs 최근 7일간의 민원 건수를 보여드립니다.
          .box_chart#chart1
          .btns 
            button(type="button").download EXCLEL
        .chart_box
          p.title 월별 민원건수
          p.decs 최근 6개월간의 민원 건수를 보여드립니다.
          .box_chart#chart2
          .btns 
            button(type="button").download EXCLEL
        .chart_box
          p.title 부서별 민원 TOP 10
          p.decs 최근 7일간의 민원 건수를 보여드립니다.
          .box_chart#chart3
          .btns 
            button(type="button").download EXCLEL
        .chart_box
          p.title 분야별 민원 TOP 10
          p.decs 최근 7일간의 민원 건수를 보여드립니다.
          .box_chart#chart4
          .btns 
            button(type="button").download EXCLEL


  script.
    var options = {
      series: [
        {
          data: [
            300,
            400,
            300,
            400,
            300,
            400,
            300,
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"14px"
          }
        }
      }, 
      chart: {
        type: "area",
        height: 188,
        background: "#19191E",
        dropShadow: {
          enabled: true,
          color: "#000"
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      stroke: {
        curve: "straight",
        width: 1,
        colors: ["#ED6C00"]
      },
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          type: "vertical",
          colorStops: [
            [
              {
                offset: 0,
                color: "#ED6C00",
                opacity: 0.4
              },
              {
                offset: 100,
                color: "#ED6C00",
                opacity: 0
              },
            ]
          ]
        }
      },
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"14px"
          }
        }
      },
    };
    var options = {
      series: [
        {
          data: [
            300,
            400,
            300,
            400,
            300,
            400,
            300,
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"14px"
          }
        }
      }, 
      chart: {
        type: "area",
        height: 188,
        background: "#19191E",
        dropShadow: {
          enabled: true,
          color: "#000"
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      stroke: {
        curve: "straight",
        width: 1,
        colors: ["#ED6C00"]
      },
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          type: "vertical",
          colorStops: [
            [
              {
                offset: 0,
                color: "#ED6C00",
                opacity: 0.4
              },
              {
                offset: 100,
                color: "#ED6C00",
                opacity: 0
              },
            ]
          ]
        }
      },
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"14px"
          }
        }
      },
    };

    GCui.chart('#chart1', {chartOptions:options})
    GCui.chart('#chart3', {chartOptions:options})
    //- GCui.chart('#chart1', {chartOptions:options})
    //- GCui.chart('#chart1', {chartOptions:options})
