extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName=""

block content
  .indicators_lists   
    .nav 
      ul 
        li.mui_active
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 주민등록
              span.title2 국적별 Top 10
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 주민등록
              span.title2 동별 인구
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 주민등록
              span.title2 동별 성비
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 전출입
              span.title2 전출입지 Top 10
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 전출입
              span.title2 연령별 전출입 인구
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 세대별
              span.title2 1인 가구 Top 5
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 세대별
              span.title2 1인 가구 연도별
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 장래인구
              span.title2 시흥시 인구 성장률
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 장래인구
              span.title2 시군구별 장래인구 Top 10
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 장래인구
              span.title2 연령별 추계
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 장래인구
              span.title2 연도별 추계
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 외국인
              span.title2 월 별 외국인 인구
        li 
          button(type="button") 
            span.box 
              span.top 
                span 인구
                span 2023년 기준
              span.title1 외국인
              span.title2 국적별 Top 10
    .chart_sec 
      .chart_wrap 
        p.title 주민등록인구
        .chart#chart1
        a(href="").more 출처
      .chart_wrap 
        p.title 등록외국인
        .chart#chart2
        a(href="").more 출처
  script.
    var optionChart1 = {
      series: [
        {
          data: [
            {
              x: ['2023-01'],
              y: 1200000
            },
            {
              x: ['2023-02'],
              y: 900000
            },
            {
              x: ['2023-03'],
              y: 800000
            },
            {
              x: ['2023-04'],
              y: 110000
            },
            {
              x: ['2023-05'],
              y: 700000
            },
            {
              x: ['2023-06'],
              y: 500000
            },
            {
              x: ['2023-07'],
              y: 500000
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"14px"
          },
          formatter: (value) => { 
            return new Intl.NumberFormat('en-US', {
              notation: 'compact',
              maximumFractionDigits: 1,
            }).format(value)
          },
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:24,
        }
      },
      chart: {
        type: "bar",
        height: 240,
        background: "#19191E",
        dropShadow: {
          enabled: true,
          color: "#000"
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED9C00",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED6C00",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"14px"
          }
        }
      },
    };
    var optionChart2 = {
      series: [
        {
          data: [
            {
              x: ['2023-01'],
              y: 1200000
            },
            {
              x: ['2023-02'],
              y: 900000
            },
            {
              x: ['2023-03'],
              y: 800000
            },
            {
              x: ['2023-04'],
              y: 110000
            },
            {
              x: ['2023-05'],
              y: 700000
            },
            {
              x: ['2023-06'],
              y: 500000
            },
            {
              x: ['2023-07'],
              y: 500000
            },
          ]
        }
      ],
      yaxis: {
        min:0,
        tickAmount:4,
        labels: {
          style:{
            fontSize:"14px"
          },
          formatter: (value) => { 
            return new Intl.NumberFormat('en-US', {
              notation: 'compact',
              maximumFractionDigits: 1,
            }).format(value)
          },
        }
      }, 
      plotOptions: {
        bar: {
          columnWidth:24,
        }
      },
      chart: {
        type: "bar",
        height: 240,
        background: "#19191E",
        dropShadow: {
          enabled: true,
          color: "#000"
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      markers: {
        colors: ["#FFFFFF"]
      },
      fill: {
        type: "gradient",
        gradient: {
          type:"vertical",
          colorStops: [
            {
              offset: 0,
              color: "#ED7200",
              opacity: 1
            },
            {
              offset: 100,
              color: "#ED4700",
              opacity: 1
            }
          ]
        }
      },
      
      xaxis: {
        axisBorder: {
          show: false
        },
        axisTicks: {
          show: false
        },
        labels: {
          style: {
            colors: "#fff",
            fontSize:"14px"
          }
        }
      },
    };
    GCui.chart('#chart1', {chartOptions:optionChart1})
    GCui.chart('#chart2', {chartOptions:optionChart2})