@charset "UTF-8";
/* 전체메뉴 */
#pageRoot.open_allmenu {
  overflow-y: clip;
  touch-action: none;
}
#pageRoot.open_allmenu .allmenu_wrap {
  display: block;
}

.allmenu_wrap {
  position: fixed;
  display: none;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 24px;
  overflow: auto;
  background: var(--bg_color03);
}
.allmenu_wrap .login_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 11px 0;
}
.allmenu_wrap .login_wrap .left_btns {
  display: flex;
  gap: 16px;
}
.allmenu_wrap .login_wrap .home {
  position: relative;
  padding-left: 22px;
}
.allmenu_wrap .login_wrap .home::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("/src/images/ico_home2.svg") no-repeat center/100%;
  transform: translateY(-50%);
}
.allmenu_wrap .login_wrap .login {
  position: relative;
  padding-left: 22px;
  padding-right: 0;
}
.allmenu_wrap .login_wrap .login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("/src/images/ico_login.svg") no-repeat center/100%;
  transform: translateY(-50%);
}
.allmenu_wrap .login_wrap .login.logout::before {
  background: url("/src/images/ico_logout.svg") no-repeat center/100%;
}
.allmenu_wrap .login_wrap .btn_close {
  width: 24px;
  height: 24px;
  background: url("/src/images/ico_close.svg") no-repeat center;
  font-size: 0;
  text-indent: -9999px;
}
.allmenu_wrap .welcome_txt {
  padding-top: 16px;
  font-size: 16px;
  color: var(--font_color01);
}
.allmenu_wrap .log_info {
  padding-top: 8px;
  font-size: 12px;
  color: var(--font_color03);
}
.allmenu_wrap .log_info span {
  padding-left: 8px;
}
.allmenu_wrap .quick_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
.allmenu_wrap .quick_wrap li:nth-child(1) a::before {
  background: url("/src/images/ico_quick01.png") no-repeat center/100%;
}
.allmenu_wrap .quick_wrap li:nth-child(2) a::before {
  background: url("/src/images/ico_quick02.png") no-repeat center/100%;
}
.allmenu_wrap .quick_wrap li:nth-child(3) a::before {
  background: url("/src/images/ico_quick03.png") no-repeat center/100%;
}
.allmenu_wrap .quick_wrap a {
  position: relative;
  padding-left: 36px;
  line-height: 2;
}
.allmenu_wrap .quick_wrap a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
}
.allmenu_wrap .quick_wrap a span {
  font-size: 14px;
  color: var(--font_color02);
}
.allmenu_wrap .search_wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
  flex: 1 0 1;
  margin-top: 16px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--line_color03);
  border-radius: 8px;
}
.allmenu_wrap .search_wrap .input_tit {
  flex: none;
  width: 24px;
  height: 24px;
  background: url("/src/images/ico_search.svg") no-repeat center/100%;
}
.allmenu_wrap .search_wrap input {
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 700;
}
.allmenu_wrap .search_wrap input::placeholder {
  color: var(--basic_color04);
  font-weight: 400;
}
.allmenu_wrap .search_wrap .btn_del {
  flex: none;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: url("/src/images/btn_inputdel.svg") no-repeat center/100%;
  text-indent: -9999px;
}
.allmenu_wrap .search_result {
  margin: 24px -24px 0;
  padding-top: 24px;
  font-size: 14px;
  border-top: 1px solid var(--line_color03);
}
.allmenu_wrap .search_result .inner {
  padding: 0 24px;
}
.allmenu_wrap .search_result .tit {
  color: var(--font_color03);
}
.allmenu_wrap .search_result strong {
  color: var(--main_color01);
}
.allmenu_wrap .search_result .search_list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding-top: 24px;
}
.allmenu_wrap .hash_tag {
  display: flex;
  align-items: center;
  gap: 0 4px;
  padding-top: 16px;
}
.allmenu_wrap .hash_tag a {
  padding: 5px 8px 4px 8px;
  font-size: 13px;
  color: var(--font_color02);
  border-radius: 30px;
  background: var(--bg_color02);
}
.allmenu_wrap .tab_allmenu {
  display: flex;
  margin: 24px -24px 0;
  height: calc(100% - 296px);
  border-top: 1px solid var(--line_color03);
}
.allmenu_wrap .tab_allmenu .mui_tab_nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 120px;
  background: var(--bg_color02);
}
.allmenu_wrap .tab_allmenu .nav_list {
  padding: 0;
  max-height: 88px;
  background: var(--bg_color02);
  border-bottom: 1px solid var(--line_color03);
}
.allmenu_wrap .tab_allmenu .nav_list:nth-child(1) button::before {
  background: url("/src/images/ico_allmenu01.png") no-repeat center/100%;
}
.allmenu_wrap .tab_allmenu .nav_list:nth-child(2) button::before {
  background: url("/src/images/ico_allmenu02.png") no-repeat center/100%;
}
.allmenu_wrap .tab_allmenu .nav_list:nth-child(3) button::before {
  background: url("/src/images/ico_allmenu03.png") no-repeat center/100%;
}
.allmenu_wrap .tab_allmenu .nav_list:nth-child(4) button::before {
  background: url("/src/images/ico_allmenu04.png") no-repeat center/100%;
}
.allmenu_wrap .tab_allmenu .nav_list:nth-child(5) button::before {
  background: url("/src/images/ico_allmenu05.png") no-repeat center/100%;
}
.allmenu_wrap .tab_allmenu .nav_list button {
  position: relative;
  padding-top: 56px;
  padding-bottom: 16px;
  font-size: 14px;
}
.allmenu_wrap .tab_allmenu .nav_list button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 50%;
  width: 32px;
  height: 32px;
  background: red;
  transform: translateX(-50%);
}
.allmenu_wrap .tab_allmenu .nav_list.mui_active {
  background: var(--bg_color03);
}
.allmenu_wrap .tab_allmenu .nav_list.mui_active button {
  color: var(--main_color01);
}
.allmenu_wrap .tab_allmenu .nav_list.mui_active button::after {
  display: none;
}
.allmenu_wrap .tab_allmenu .tab_contents {
  width: calc(100% - 120px);
}
.allmenu_wrap .tab_allmenu .tab_contents .tab_pane {
  padding: 0;
}
.allmenu_wrap .tab_allmenu .tab_contents .tab_list {
  display: flex;
  flex-direction: column;
}
.allmenu_wrap .tab_allmenu .tab_contents .tab_list a {
  display: block;
  padding: 16px 24px;
}
.allmenu_wrap .tab_allmenu .mui_accordion .mui_acc_content {
  padding-top: 0;
}
.allmenu_wrap .tab_allmenu .mui_accordion .mui_open {
  color: var(--main_color01);
}
.allmenu_wrap .tab_allmenu .mui_accordion .mui_open .mui_acc_button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 20 20'%3E%3Cpath d='M15,8l-5,5L5,8' transform='translate(0 -1)' fill='none' stroke='%23df6311' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Crect width='20' height='20' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
.allmenu_wrap .tab_allmenu .mui_accordion .mui_acc_button {
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 20 20'%3E%3Cpath d='M15,8l-5,5L5,8' transform='translate(0 -1)' fill='none' stroke='%23555' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Crect width='20' height='20' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  right: 20px;
}
.allmenu_wrap .tab_allmenu .mui_accordion .acc_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
}
.allmenu_wrap .tab_allmenu .flex_col {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.allmenu_wrap .tab_allmenu .flex_col a {
  display: inline-block;
  padding: 8px 24px 8px 32px;
  color: var(--font_color04);
}
/*# sourceMappingURL=all_menu.css.map */
