+modal({
  className:"common_allmenu",
  id:"commonAllmenu",
  type:"full"
})
  .inset 
    .tnb_sec 
      a(href="") 호조벌
      a(href="") 시정영상
      a(href="") 통합플랫폼
    .menu_list 
      +accordion({
        active:0
      })
        +acc_title('민원분석')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 민원총괄
              li
                a(href="") 부서별 민원 현황
              li
                a(href="") 분야별 민원 현황
        +acc_title('실시간 도시현황')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 교통정보
              li
                a(href="") 대기환경
              li
                a(href="") 감염병 발생
              li
                a(href="") 호조벌
              li
                a(href="") 통합플랫폼
              li
                a(href="") 시정영상
        +acc_title('시정데이터')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 시정데이터
        +acc_title('테마지도')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 테마지도
              li
                a(href="") 부동산 지도
        +acc_title('빅데이터 분석')
        +acc_content()
            .deps2 
              ul 
                li
                  a(href="") 자체분석
                li
                  a(href="") 분석플랫폼
        +acc_title('공유박스')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 홍보영상
              li
                a(href="") 관련뉴스
              li
                a(href="") 공공데이터
              li
                a(href="") 연관 플랫폼 목록
        +acc_title('스마트시정 소개')
        +acc_content()
          .deps2 
            ul 
              li
                a(href="") 포털소개
              li
                a(href="") 공지사항
  
