.allmenu_wrap
  +content_group(1)
    .login_wrap
      .left_btns
        .home 홈
        <!-- 로그아웃시 logout 클래스 추가 -->
        .login 로그인
        <!-- //로그아웃시 logout 클래스 추가 -->
      +button_wrap()
        +button({
          label:"닫기",
          size:'small',
          className:'btn_close',
          isIcon:true,
          type:'default',
          muiToggle:'target:#pageRoot;cls:open_allmenu;'
        })
      
    p.welcome_txt
      strong SBI저축은행
      | 입니다.
    <!-- 로그인 후 -->
    p.welcome_txt
      strong 김중앙
      |님 안녕하세요.
    p.log_info 최근접속
      span 2023.03.22 15:15:15
    <!-- //로그인 후 -->

    ul.quick_wrap
      li
        a(href="#")
          span 고객센터
      li
        a(href="#")
          span 인증/보안
      li
        a(href="#")
          span 새소식

    .search_wrap
      .input_tit
      input(type="text" placeholder="검색어 입력")
      button.btn_del
    .hash_tag
      a(href="#") #대출
      a(href="#") #예금
      a(href="#") #전자약정
      a(href="#") #인증서

    <!-- 검색시 숨김 -->
    +tabsWrap({
      className:'tab_allmenu'
    })
      +tab("대출")
        +accordion({
          multiple:true,
          active:0
        })
          +acc_title('담보대출')
          +acc_content()
            .flex_col
              a(href="#") 상품안내/신청
          +acc_title('신용대출/햇살론')
          +acc_content()
            .flex_col
              a(href="#") 상품안내
        ul.tab_list
          li
            a(href="#") 온라인 서류제출
          li
            a(href="#") 신용조회동의/적정성등록
          li
            a(href="#") 대출신청조회
          li
            a(href="#") 전자약정
          li
            a(href="#") 금리인하요구권
          li
            a(href="#") 대출철회
        +accordion({
          multiple:true,
          active:0
        })
          +acc_title('대출금액조회')
          +acc_content()
            .flex_col
              a(href="#") 대출이자납입금액조회
              a(href="#") 대출상환예정금액조회
      +tab("예적금")
        ul.tab_list
          li
            a(href="#") 상품안내/신청
          li
            a(href="#") 계좌개설신청내역조회
          li
            a(href="#") 만기자동재예치
          
      +tab("뱅킹")
        +accordion()
          +acc_title('조회')
          +acc_content()
            .flex_col
              a(href="#") 전체계좌조회
              a(href="#") 거래내역조회
          +acc_title('이체')
          +acc_content()
            .flex_col
              a(href="#") 즉시이체
              a(href="#") 자동이체(당/타행)
              a(href="#") 자동이체(CMS)
              a(href="#") 예약이체
              a(href="#") 이체조회결과
          +acc_title('고객정보관리')
          +acc_content()
            .flex_col
              a(href="#") 고객정보조회 변경
              a(href="#") 고객확인제도
              a(href="#") 장기미접속해제
              a(href="#") 뱅킹비밀번호 변경
              a(href="#") 최초뱅킹비밀번호 등록
              a(href="#") 제증명
          +acc_title('뱅킹관리')
          +acc_content()
            .flex_col
              a(href="#") 자주쓰는계좌관리
              a(href="#") 계좌번호찾기
              a(href="#") 계좌비밀번호 변경
              a(href="#") 계좌비밀번호 오류해제
              a(href="#") 이체한도관리
              a(href="#") 거래중지계좌관리

      +tab("고객센터")
        ul.tab_list
          li
            a(href="#") 새소식
          li
            a(href="#") 이벤트
          li
            a(href="#") 고객상담
          li
            a(href="#") 이용시간안내
          li
            a(href="#") 영업점안내

      +tab("인증/보안")
        +accordion()
          +acc_title('간편비밀번호')
          +acc_content()
            .flex_col
              a(href="#") 간편비밀번호 등록
              a(href="#") 간편비밀번호 변경
              a(href="#") 간편비밀번호 해지
          +acc_title('금융인증서')
          +acc_content()
            .flex_col
              a(href="#") 타기관 금융인증서 등록
              a(href="#") 타기관 금융인증서 해지
              a(href="#") 인증서 관리
          +acc_title('토스인증서')
          +acc_content()
            .flex_col
              a(href="#") 토스인증서 등록
              a(href="#") 토스인증서 해지
              a(href="#") 인증서 관리

          +acc_title('보안매체')
          +acc_content()
            .flex_col
              a(href="#") OTP보정
              a(href="#") 타기관 OTP 등록

          +acc_title('추가인증서비스')
          +acc_content()
            .flex_col
              a(href="#") 서비스 가입
              a(href="#") 서비스변경/해지

    <!-- //검색시 숨김 -->
  <!-- 검색시 표시 -->
  +content_group(1)
    .search_result
      .inner
        p.tit 검색결과
          strong 7
          | 건
        ul.search_list
          li
            a(href="#") 대출 > 신용대출/햇살론 > 신용정보
              strong 조회
              | 동의
          li
            a(href="#") 대출 > 신용대출/햇살론 > 신용정보
              strong 조회
              | 동의
          li
            a(href="#") 대출 > 신용대출/햇살론 > 신용정보
              strong 조회
              | 동의
        <!-- 검색결과없는경우 -->
        .no_search 검색결과가 없습니다.
        +result({
          type:'null',
          mainText:"검색결과가 없습니다.",
          img:"/src/images/ico_search_empty.svg",
        })
        <!-- //검색결과없는경우 -->
  <!-- //검색시 표시 -->