footer.footer
  .inset 
    .left
      p.logo
        img(src="/src/images/logo_footer.svg", alt="시흥시 siheung city")
      .text
        span.txt (우 14998) 경기도 시흥시 시청로 20 (장현동)
        span.txt 
          | 대표전화
          span.tel 031-310-2114
        span.txt 
          | 팩스
          span.tel 031-380-5300
        span.copy Copyright © 2023 Jeonjy City. All Rights Reserved.
    .admin_btn
      button(type="button")
        span Admin

  



