+modal({
  className:"common_search",
  id:"commonSearch",
  type:"full"
})
  .inset 
    p.main_title 
      |원하시는 
      br.mobile_only
      |정보를 검색해주세요.
    .search_form 
      +input_button({
        btnText:"검색",
        placeholder:"검색어를 입력해주세요",
        type:"input"
      })
    p.result 
      | 검색어 
      em “시흥시청” 
      | 에 대한 
      br.mobile_only
      |검색 결과 입니다.
    .search_results 
      .inset
        .sec 
          .title 
            p.text 메뉴검색
            button(type="button").more 더보기
          .list 
            ul 
              li 
                a(href="")   
                  span.text 
                    | 스마트시정 소개 > 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    | 스마트시정 소개 > 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    | 스마트시정 소개 > 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    | 스마트시정 소개 > 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    | 스마트시정 소개 > 
                    em 시흥시청
        .sec
          .title 
            p.text 관련뉴스 검색
            button(type="button").more 더보기
          .list 
            ul 
              li 
                a(href="")   
                  span.text 
                    em 시흥시 1
                    | 전국적으로 장마철 집중호우로 인한 인명·재산피해가 극심해장마철 집중호우로 인한 인명·재산피해가 극심해지면서 경기도를 비롯한 경기권 지방자치단체들이 공들여 축
                  span.date 
                    span.tt 공유박스 > 관련뉴스
                    span 2023 / 07 / 19
              li 
                a(href="")   
                  span.text 
                    em 시흥시 
                    | 전국적으로 장마철 집중호우로 인한 인명·재산피해가 극심해지면서 경기도를 비롯한지면서 경기도를 비롯한 경기권 지방자치피해가 극심해지면서 경기도를 비롯한지면서 경기도를 비롯한 경기권 지방자치단체들이 공들여 축
                  span.date 
                    span.tt 공유박스 > 관련뉴스
                    span 2023 / 07 / 19
              li 
                a(href="")   
                  span.text 
                    em 시흥시 
                    | 전국적으로 장마철 집중호우로 인한 인명·재산피해가 극심해지면서 경기도를 비롯한가 극심해지면서 경기도를 비롯한 경기권 지방자치단체들이 공들여 축
                  span.date 
                    span.tt 공유박스 > 관련뉴스
                    span 2023 / 07 / 19
        .sec
          .title 
            p.text 포털소개 검색
            button(type="button").more 더보기
          .list 
            ul 
              li 
                a(href="")   
                  span.text 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    em 시흥시청
              li 
                a(href="")   
                  span.text 
                    em 시흥시청
      +paging()
    
