.side_menu
  .inner 
    ul.deps1 
      li
        a(href="") 부서별 민원 현황
        .sub_deps 
          ul 
            li 
              a(href="") 일별
            li 
              a(href="") 월별
      li
        a(href="") 연관 플랫폼 목록
      li
        a(href="").ico.type1 인구
      li
        a(href="").ico.type2 경제
      li
        a(href="").ico.type3 교육
      li
        a(href="").ico.type4 교통
      li
        a(href="").ico.type5 문화
      li
        a(href="").ico.type6 복지
      li
        a(href="").ico.type7 행정
      li
        a(href="").ico.type8 환경
    


