extends ../components/templates/base.pug

block content
  +button({
    label:"기본 모달 호출",
    muiToggle:'target:#modal;'
  })
  +button({
    label:"풀 팝업",
    muiToggle:'target:#fullLayer;'
  })
  +button({
    label:"버텀 트레이",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"풀팝업 타이틀",
    id:"fullLayer",
    type:"full"
  })
    div dasfasdlkjfasdklfjasldkjf
    div dasfasdlkjfasdklfjasldkjf

  +modal({
    title:"모달 타이틀",
    id:"modal",
  })
    div dasfasdlkjfasdklfjasldkjf
    div dasfasdlkjfasdklfjasldkjf

  +modal({
    title:"모달 타이틀",
    id:"modal_bottom",
    type:"bottom"
  })
    div 모달 컨텐츠111111111111111111111111111111111111
      div dsfsdf