extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Datepicker"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideTitle({
      text:"기본",
      level:2
    })
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    +input({
      muiFormatter:"numeric:true;",
    })
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    <div id="test-color" class="test-color uk-height-large uk-overflow-hidden uk-flex" mui-parallax="start: 100%; end: 100%; background-color: #f00,#000; border-color: #00f,#f00;" style="border: 10px solid #000;height:20vh">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" style="height:" mui-parallax="target: #test-target; start: 100%; end: 100%; color: #0f0;">Headline</h1>

    </div>
    <span class="mui_input"><input type="text" placeholder="커스텀 포멧" value="20230212" mui-formatter="dateForm:true" mui-input=""></span>
    br
    br
    br
    br
    br
    <div class="mui_datepicker" mui-datepicker><span class="mui_input"><input type="text" placeholder="날짜선택" value="20230501" mui-input></span></div>
    //- <div class="mui_datepicker" style="border:1px solid red;height:100px;" mui-datepicker="inline:true;"></div>
    +guideExample()(code)
      :code
        +datepicker({
          value:"2023.02.22"
        })
        +datepicker()
        +datepicker({
          quickBtn:true
        })
    br
    br
    +guideExample()(code)
      :code
        +datepicker({
          value:"2023.02.22"
        })
        br
        +datepicker()
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +attributesLists([
      [
        {
          text:'value'
        },
        {
          text:'날짜'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ],
    ])


