extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"알아두세요"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +guidetext()
          div ddddd
          +textLists({
            type:'dot',
            lists:[
              {
                text:"블라블라~블라블라~블라블라~블라블라~",
                subLists:{
                  type:'hahaha',
                  lists:[
                    {
                      text:"가나다라마바사아자차카타파하-sub"
                    },
                    {
                      text:"가나다라마바사아자차카타파하-sub",
                    },
                    {
                      text:"가나다라마바사아자차카타파하-sub"
                    },
                  ]
                }
              },
              {
                text:"블라블라~블라블라~블라블라~블라블라~"
              },
              {
                text:"블라블라~블라블라~블라블라~블라블라~블라블라~"
              },
            ]
          })                
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +attributesLists([
      [
        {
          text:'active'
        },
        {
          text:'활성화 텝 index'
        },
        {
          text:'nomber'
        },
        {
          text:'0'
        }
      ],
      [
        {
          text:'className'
        },
        {
          text:'커스텀 클래스'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])


