extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Icon"
    })
    +guideTitle({
      text:"Example",
      level:2
    })

    <div class="test_icon"></div>
    <div class="test_icon2"></div>


