extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Result"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +result({
          data:[
            {
              title:"계좌상태",
              text:"활동계좌",
            },
            {
              title:"대출금액",
              text:"200,000,000,000원",
            },
            {
              title:"대출일자",
              text:"YYYY.MM.DD",
            },
            {
              title:"대출만기일자",
              text:"YYYY.MM.DD",
            },
          ]
        })
    +guideExample()(code)
      :code
        +result({
          className:"greybox",
          data:[
            {
              title:"계좌상태",
              text:"활동계좌",
            },
            {
              title:"대출금액",
              text:"200,000,000,000원",
            },
            {
              title:"대출일자",
              text:"YYYY.MM.DD",
            },
            {
              title:"대출만기일자",
              text:"YYYY.MM.DD",
            },
          ]
        })
    br
    +guideExample()(code)
      :code
        +result({
          dataType:"line",
          data:[
            {
              title:"계좌상태",
              text:"활동계좌",
            },
            {
              title:"대출금액",
              text:"200,000,000,000원",
            },
            {
              title:"대출일자",
              text:"YYYY.MM.DD",
            },
            {
              title:"대출만기일자",
              text:"YYYY.MM.DD",
            },
          ]
        })
    br
    br
    +guideTitle({
      text:"진행 성공",
      level:2
    })
    +guideExample()(code)
      :code
        +result({
          type:'result',
          mainText:"결과 메세지",
          subText:"서브 메세지<br>서브 메세지",
          img:"/src/images/ico_example2.png",
        })
    br
    br
    +guideTitle({
      text:"결과 없음",
      level:2
    })
    +guideExample()(code)
      :code
        +result({
          type:'null',
          mainText:"검색결과가 없습니다.",
          img:"/src/images/ico_search_empty.svg",
        })
    br
    br
    +guideTitle({
      text:"조회 결과 리스트",
      level:2
    })
    +guideExample()(code)
      :code
        +acc_results('acc_result')
        +acc_results('acc_result2')
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +attributesLists([
      [
        {
          text:'text'
        },
        {
          text:'타이틀 내용'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'clsLv'
        },
        {
          text:'클래스 레벨 (1 ~ 6)'
        },
        {
          text:'number'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'text'
        },
        {
          text:'Tag 레벨 (1 ~ 6)'
        },
        {
          text:'number'
        },
        {
          text:'-'
        }
      ]
    ])



