extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Text List"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +textLists({
          type:'dot',
          lists:[
            {
              text:"블라블라~블라블라~블라블라~블라블라~",
              className:"custom_class_name",
              subLists:{
                type:'hyphhen',
                lists:[
                  {
                    text:"가나다라마바사아자차카타파하-sub"
                  },
                  {
                    text:"가나다라마바사아자차카타파하-sub",
                  },
                  {
                    text:"가나다라마바사아자차카타파하-sub"
                  },
                ]
              }
            },
            {
              text:"블라블라~블라블라~블라블라~블라블라~"
            },
            {
              text:"블라블라~블라블라~블라블라~블라블라~블라블라~"
            },
          ]
        })

                
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })
    +attributesLists([
      [
        {
          text:'type'
        },
        {
          text:'블릿 타입 - dot, hyphen'
        },
        {
          text:'string'
        },
        {
          text:'dot'
        }
      ],
      [
        {
          text:'lists'
        },
        {
          text:'리스트 텍스트'
        },
        {
          text:'array'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'subLists'
        },
        {
          text:'하위 리스트'
        },
        {
          text:'object'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'lists > className'
        },
        {
          text:'하위 리스트 각 커스텀 클래스 네임'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])


