@import "common/mixins";
@import "common/varialbles";
@import "common/fonts";
@import "common/reset";
@import "common/animation";
@import "common/swiper";
@import "common/nouislider";


@import '../../components/atoms/index.scss';
@import '../../components/molecules/index.scss';
@import '../../components/organisms/index.scss';
@import '../../components/templates/index.scss';



@import "common/all_menu";
/*스크린리더 IR(Image Replacement)*/
#wrapper {
	background: #1E2025;
	min-height: 600px;
}
.search_form {
	.btn_sec {
		.mui_button {
			background: url($url_common+"ico_search.svg") no-repeat center;
			color: transparent;
			font-size: 0;
			width: 40px;
			height: 40px;
			margin-right: 16px;
		}
	}
}
.mobile_only {
	display: none;
	@include respondTo("tablet"){
		display: block;
	}
}
.pc_only {
	@include respondTo("tablet"){
		display: none;
	}
}
.sr-only {
	position: fixed;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
	left: -50000px;
	&-focusable {
		&:active,
		&:focus {
			position: static;
			width: auto;
			height: auto;
			overflow: visible;
			clip: auto;
			white-space: normal;
		}
	}
}

.header {
	// border: 1px solid red;
	height: 96px;
	@include respondTo("tablet"){
		height: auto;
		border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
	}
	.inner {
		position: relative;
		padding: 0 40px;
		display: flex;
		z-index: 3;
		height: 96px;
		overflow: hidden;
		flex: 1 1;
		@include respondTo("tablet"){
			padding: 15px 20px;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 96px;
			left: 0;
			right: 0;
			bottom: 0;
			background: #272A31;
			@include respondTo("tablet"){
				display: none;
			}
		}
	}
	.tnb {
		position: absolute;
		display: flex;
		top: 8px;
		right: 40px;
		z-index: 10;
		@include respondTo("tablet"){
			top: 15px;
			right: 20px;
		}
		.menu {
			padding-top: 2px;
			& > a {
				font-size: 14px;
				color: #fff;
				display: block;
				line-height: 21px;
				padding: 0 8px;
				border-right: 1px solid rgba($color: #fff, $alpha: .2);
			}
			@include respondTo("tablet"){
				&:not(.search, .allmenu) {
					display: none;
				}
			}
			&.search {
				margin-left: 38px;
				padding-top: 0;
				@include respondTo("tablet"){
					margin-left: 16px;
				}
				button {
					span {
						display: block;
						width: 24px;
						height: 24px;
						background: url($url_common+"ico_search.svg") no-repeat center;
						background-size: 100%;
						color: transparent;
						font-size: 0;
						@include respondTo("tablet"){
							width: 30px;
							height: 30px;
							background-size: 20px;

						}
					}
				}
			}
			&.allmenu {
				margin-left: 20px;
				padding-top: 0;
				display: none;
				@include respondTo("tablet"){
					display: block;
				}
				button {
					span {
						display: block;
						width: 30px;
						height: 30px;
						background: url($url_common+"ico_menu.svg") no-repeat left center;
						background-size: 100%;
						color: transparent;
						font-size: 0;
					}
				}
			}
			&.toggle {
				position: relative;
				button {
					color: #fff;
					padding-left: 8px;
					padding-right: 23px;
					position: relative;
					&::after {
						content: '';
						display: block;
						@include icon_svg(arrow-down, "#fff", 15px);
						position: absolute;
						top: 4px;
						right: 0;
					}
				}
				.drop_menu {
					position: absolute;
					top: 24px;
					left: 0;
					width: 71px;
					height: 54px;
					border-radius: 6px;
					background: #272A31;
					li {
						text-align: center;
						a {
							color: #8A8C8F;
							font-size: 14px;
							display: inline-flex;
						}
						&.mui_active {
							a {
								color: #fff;
								font-size: 14px;
								border-bottom: 1px solid #fff;
							}	
						}
					}
				}
			}
			&.kren {
				display: none;
				@include respondTo("tablet"){
					display: block;
				}
				
				button {
					font-size: 14px;
					color: #fff;
					padding-top: 4px;
					&.mui_active {
						span{
							&:last-child {
								color: #fff;
							}
							&:first-child {
								color: rgba($color: #fff, $alpha: .5);	
							}
						}
					}
					span {
						display: inline-flex;
						position: relative;
						&:last-child {
							margin-left: 6px;
							padding-left: 9px;
							color: rgba($color: #fff, $alpha: .5);
							&::after {
								content: '';
								width: 3px;
								height: 3px;
								border-radius: 50%;
								background: #fff;
								position: absolute;
								top: 50%;
								margin-top: -1px;
								left: 0;
							}
						}
					}
				}
			}
		}
	}
	.logo {
		padding-top: 38px;
		display: inline-flex;
		a {
			display: block;
			padding-left: 58px;
			color: #fff;
			font-size: 22px;
			height: 48px;
			line-height: 48px;
			background: url($url_common+"logo.svg") no-repeat left center;
			background-size: 48px;
			width: 160px;
			@include respondTo("tablet"){
				font-size: 18px;
				font-family: "S-Core Dream";
				font-weight: 600;
				background-size: 40px;
				padding-left: 50px;
				height: 30px;
				line-height: 30px;
			}
		}
		@include respondTo("tablet"){
			padding-top: 0;
		}
	}
	.gnb {
		padding: 48px 0 0 0;
		display: flex;
		width: 100%;
		position: relative;
		justify-content: center;
		z-index: 2;
		@include respondTo("tablet"){
			display: none;
		}
		.inset {
			width: 100%;
			max-width: 1366px;
			padding: 0 40px;
			@include respondToMinMax(1025, 1366){
				padding: 0;
			}
		}
		.menu {
			display: flex;
			a {
				color: #fff;
			}
			.deps1 {
				flex: 1;
				text-align: center;
				font-weight: 500;
				font-size: 18px;
				display: flex;
				flex-direction: column;
				// @include respondToMinMax(, $maxSize){
					
				// }
			}
			.deps2 {
				text-align: left;
				padding-left: 20px;
				font-size: 16px;
				font-weight: 400;
				margin-top: 22px;
				padding-top: 30px;
				padding-bottom: 40px;
				height: 100%;
				// border: 1px solid blue;
				ul {
					height: 100%;
					border-right: 1px solid #2F323A;
					
				}
				li {
					& ~ li {
						margin-top: 5px;
					}
				}
				a {
					height: 23px;
					line-height: 23px;
					display: block;
					&:hover {
						color: #ED6C00;
						font-weight: 700;
					}
				}
			}
		}
	}
} 
.footer {
	margin-top: 40px;
	
	padding-bottom: 28px;
	@include respondTo("tablet"){
		padding-bottom: 20px;
	}
	.inset {
		display: flex;
		max-width: 1240px;
		margin: 0 auto;
		justify-content: space-between;
		padding: 0 20px;
		@include respondTo("tablet"){
			display: block;
			text-align: center;
		}
	}
	.left {
		display: flex;
		@include respondTo("tablet"){
			display: block;
		}
	}
	.logo {
		opacity: .3;
		@include respondTo("tablet"){
			display: none;
		}
	}
	.text {
		margin-left: 48px;
		font-size: 14px;
		@include respondTo("tablet"){
			margin-left: 0;
		}
		.txt {
			color: rgba($color: #fff, $alpha: .8);
			display: inline-flex;
			@include respondTo("tablet"){
				&:first-child {
					display: block;
				}
			}
			& ~ .txt {
				margin-left: 20px;
				@include respondTo("tablet"){
					margin: 0 4px;
				}
			}
		}
		.tel {
			color: rgba($color: #fff, $alpha: .5);
			display: inline-flex;
			margin-left: 10px;
		}
	}
	.copy {
		display: block;
		margin-top: 15px;
		color: #fff;
		@include respondTo("tablet"){
			margin-top: 11px;
		}
	}
	.admin_btn {
		@include respondTo("tablet"){
			margin-top: 10px;
		}
		button {
			span {
				height: 40px;
				border: 1px solid #868E96;
				font-weight: 700;
				font-size: 14px;
				color: #fff;
				line-height: 40px;
				padding: 0 27px;
				display: block;
			}
			@include respondTo("tablet"){
				display: block;
				width: 100%;
			}
		}
	}

}
#container {
	display: flex;
	padding-top: 32px;
	flex: 1 1;
	@include respondTo("tablet"){
		padding-top: 20px;
	}
	.side_menu {
		padding: 0 40px;
		width: 310px;
		@include respondTo("tablet"){
			display: none;
		}
		.deps1 {
			width: 230px;
			& > li {
				&:not(:first-child) {
					margin-top: 8px;
				}
				& > a {
					display: block;
					// background: linear-gradient(180deg, #ED9C00 0%, #ED6C00 100%);
					background: #272A31;
					border: 1px solid #2F323A;
					height: 54px;
					font-size: 18px;
					border-radius: 27px;
					line-height: 52px;
					padding-left: 24px;
					color: #fff;
					position: relative;
					&:hover {
						background: linear-gradient(180deg, #ED9C00 0%, #ED6C00 100%);
						border: 0 none;
						font-weight: 700;
						padding-left: 25px;	
						line-height: 54px;
					}
					&.ico {
						padding-left: 72px;
						&::after {
							content: '';
							width: 48px;
							height: 48px;
							position: absolute;
							top: 3px;
							left: 24px;
							display: block;
						}
						@for $i from 1 through 8 {
							&.type#{$i}:after {
								background: url($url_common+"menu_ico#{$i}.svg") no-repeat center;
							}
						}
						&:hover {
							padding-left: 73px;
							&::after {
								top: 4px;
								left: 25px;
							}
						}
					}
				}
				&.mui_active {
					& > a {
						background: linear-gradient(180deg, #ED9C00 0%, #ED6C00 100%);
						border: 0 none;
						font-weight: 700;
						padding-left: 25px;	
						line-height: 54px;
						&.ico {
							padding-left: 73px;
						}
					}
				}
			}
			
		}
		.sub_deps {
			li {
				margin-top: 8px;
				&.mui_active {
					a {
						font-weight: 700;
						color: #ED6C00;
					}
				}
			}
			a {
				display: block;
				border-bottom: 1px solid #2F323A;
				font-size: 18px;
				color: #fff;
				height: 34px;
				line-height: 34px;
				padding-left: 24px;
				&:hover {
					font-weight: 700;
					color: #ED6C00;
				}
			}
		}
	}
}
.common_search {
	width: 100%;
	height: 100%;
	.mui_modal_body {
		background: rgba($color: #000, $alpha: .8);
		@include respondTo("mobile"){
			background: #272A31;
		}
	}
	.inset {
		flex: 1;
	}
	.main_title {
		font-size: 48px;
		text-align: center;
		color: #fff;
		font-weight: 500;
		margin-bottom: 72px;
		@include respondTo("mobile"){
			font-size: 28px;
			margin-bottom: 20px;
		}
		&:first-child {
			margin-top: 192px;
			@include respondTo("mobile"){
				margin-top: 85px;
			}
		}
	}
	.search_form {
		max-width: 720px;
		margin: 0 auto;
		.mui_input {
			padding-left: 8px;
			input {
				height: 56px;	
				@include respondTo("mobile"){
					height: 34px;
					font-size: 14px;
				}
			}
		}
		.btn_sec {
			.mui_button {
				margin-right: 24px;
				
				@include respondTo("mobile"){
					margin-right: 0;
					width: 34px;
					height: 34px;
					background-size: 20px;
				}
			}
		}
		&:first-child {
			margin-top: 144px;
			@include respondTo("mobile"){
				margin-top: 65px;
			}
		}
	}
	.result {
		margin-top: 48px;
		font-size: 24px;
		color: #fff;
		text-align: center;
		em {
			font-weight: 700;
		}
		@include respondTo("mobile"){
			margin-top: 14px;
			font-size: 18px;
		}
	}
	.search_results {
		max-height: calc( 100vh - 460px);
		overflow: auto;
		margin: 56px 0 0;
		@include respondTo("mobile"){
			margin: 20px 0 0;
			max-height: none;
		}
		&::-webkit-scrollbar {
      width: 4px;			
      &-thumb {
        background-color: rgba($color: #fff, $alpha: .5);
				border-radius: 2px;
      }
    }  
		.inset {
			max-width: 1000px;
			margin: 0 auto;
		}
		.sec {
			&:not(:first-child) {
				margin-top: 48px;
			}
			.title {
				padding-bottom: 8px;
				position: relative;
				border-bottom: 1px solid #868E96;
				@include respondTo("mobile"){
					padding-bottom: 4px;
				}
				.text {
					font-weight: 500;
					color: #fff;
					font-size: 24px;
					@include respondTo("mobile"){
						display: inline-flex;
						font-size: 16px;
						font-family: "S-Core Dream";
						font-weight: 600;
						padding-right: 21px;
						position: relative;
						&::after {
							content: '';
							display: block;
							@include icon_svg(arrow-left, "#fff", 21px);
							position: absolute;
							top: 2px;
							right: 0;
							transform: rotate(180deg);
						}
					}
				}
				
				.more {
					position: absolute;
					top: 6px;
					right: 0;
					color: #fff;
					font-size: 16px;
					padding-right: 29px;
					@include respondTo("mobile"){
						font-size: 0;
						color: transparent;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					&::after {
						content: '';
						display: block;
						@include icon_svg(arrow-left, "#fff", 21px);
						position: absolute;
						top: 2px;
						right: 0;
						transform: rotate(180deg);
						@include respondTo("mobile"){
							display: none;
						}
					}

				}
			}
			.list {
				margin-top: 16px;
				li ~ li {
					margin-top: 8px;
					@include respondTo("mobile"){
						margin-top: 4px;
					}
				}
				a {
					display: flex;
					display: block;
				}
				.text {
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden; 
				}
				.date {
					white-space: nowrap;
					padding-left: 60px;
					.tt {
						display: none;
					}
					@include respondTo("mobile"){
						padding-left: 0;
						margin-top: 2px;
						display: flex;
						justify-content: space-between;
						color: rgba($color: #fff, $alpha: .6);
						.tt {
							display: block;
						}
					}
				}
				@include respondTo("mobile"){
					margin-top: 10px;
				}
			}
		}
		a {
			color: rgba($color: #fff, $alpha: .6);
			font-size: 16px;
			@include respondTo("mobile"){
				font-size: 14px;
				color: #fff;
			}
		}
	}
}
.common_allmenu {
	.mui_modal_body {
		background: #272A31;
		.mui_modal_content {
			padding: 51px 0 0;
		}
	}
	.tnb_sec{
		display: flex;
		border-top: 1px solid #3F4249;
		border-bottom: 1px solid #3F4249;
		a {
			flex: 1;
			color: #fff;
			text-align: center;
			font-size: 16px;
			height: 52px;
			line-height: 52px;
			& ~ a {
				border-left: 1px solid #3F4249;
				
			}
		}
	}
	.menu_list {
		.mui_open {
			.acc_header {
				color: #ED6C00;
			}	
			&.acc_lists {
				border-bottom: 0 none;
			}
		}
		.acc_header {
			font-size: 16px;
			font-weight: 700;
			color: #fff;
			padding: 14px 20px;
		}
		.acc_lists {
			border-bottom: 1px solid #3F4249;
			.mui_acc_button {
				@include icon_svg(arrow-down, "#fff", 20px);
				right: 24px;
			}
		}
		.mui_acc_content {
			background: #3F4249;
			padding: 20px;
			a {
				color: #fff;
				font-size: 14px;
			}
			li {
				& ~ li {
					margin-top: 12px;
				}
			}
		}
	}
}
#contents {
	width: 100%;
	padding-right: 42px;
	padding-bottom: 160px;
	@include respondTo("tablet"){
		padding: 0 20px;
	}
	.sub_title {
		margin-top: 40px;
	}
	.main_sub_txt {
		margin-top: 8px;
		font-size: 18px;
		color: #868E96;
	}
}
.board_top {
	margin-top: 40px;
	padding-bottom: 43px;
	position: relative;
	@include respondTo("tablet"){
		padding-bottom: 31px;
		margin-top: 20px;
	}
	.sort {
		display: flex;
		justify-content: space-between;
		@include respondTo("tablet"){
			flex-direction: row;
			flex-wrap: wrap;
		}
		.mui_select {
			margin-right: 8px;
			min-width: 200px;
			&:nth-child(2) {
				margin-right: auto;
			}
			&:nth-child(3) {
				margin-left: 8px;
			}
			@include respondToMinMax(1025, 1200){
				min-width: 140px;
			}
			@include respondTo("tablet"){
				width: calc( 33.3333% - 6px );
				min-width: 0;
				margin: 0 !important;
			}
		}
		// span {
		// 	display: flex;
		// 	@include respondTo("tablet"){
		// 		display: inline;
		// 	}
		// }
	}
	.mui_inputbtn {
		border: 1px solid #3F4249;
		@include respondToMinMax(1800, 10000){
			width: 400px;
		}
		@include respondTo("tablet"){
			width: 100%;
			margin-top: 10px;
		}
		.mui_button {
			width: 56px;
			height: 40px;
			background: url($url_common+"ico_search.svg") no-repeat center;
			color: transparent;
			font-size: 0;
			@include respondTo("tablet"){
				width: 34px;
				height: 32px;
				background-size: 20px;
			}

		}
	}
	.board_result_text{
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.board_result_text {
	color: #fff;
	font-size: 18px;
	em {
		font-weight: 700;
	}
	@include respondTo("tablet"){
		font-size: 14px;
	}


} 
.board_lists {
	margin-top: 40px;
	@include respondTo("tablet"){
		margin-top: 20px;
	}
	.img_type {
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 32px 24px;
			@include respondTo("tablet"){
				gap: 20px 0;
			}
			li {
				width: calc(25% - 18px);
				@include respondTo("tablet"){
					width: 100%;
				}
				a {
					display: block;
				}
			}
		}
		.box {
			.title {
				font-size: 18px;	
				color: #fff;
				margin-top: 8px;
				@include ellipsis();
				@include respondTo("tablet"){
					font-size: 16px;
					margin-top: 10px;
				}
			}
			.data {
				margin-top: 8px;
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				color: #888;
				@include respondTo("tablet"){
					margin-top: 5px;
				}
			}
		}
	}
	.table_type{
		table {
			table-layout: fixed;
		}
		.cols1 {
			width: 100px;
			@include respondTo("tablet"){
				width: 40px;
			}
		}
		.cols2 {
			width: auto;
		}
		.cols3, .cols4 {
			width: 200px;
			@include respondTo("tablet"){
				width: 85px;
			}
		}
		table {
			width: 100%;
			thead {
				th {
					background: #2F323A;
					font-size: 18px;
					font-weight: 700;
					padding: 17px 0;
					@include respondTo("tablet"){
						font-size: 14px;
						padding: 10px 0;
					}
				}
			}
			th, td {
				text-align: center;
				color: #fff;
				font-size: 18px;
				@include respondTo("tablet"){
					font-size: 14px;
				}
			}
			a {
				display: block;
				color: #fff;
				padding: 17px 20px;
				@include ellipsis();
				@include respondTo("tablet"){
					padding: 10px 0;
				}

			}
			tr {
				border-bottom: 1px solid #2F323A;
			}
		}
	}
}
.board_view {
	.board_data {
		margin-top: 16px;
		padding-bottom: 16px;
		display: flex;
		border-bottom: 1px solid #383B43;
		@include respondTo("tablet"){
			margin-top: 10px;
			padding-bottom: 14px;
		}
		span {
			color: #888;
			font-size: 16px;
			position: relative;
			@include respondTo("tablet"){
				font-size: 14px;
				font-weight: 500;
			}
			& ~ span {
				margin-left: 8px;
				padding-left: 9px;
				&::after {
					content: '';
					position: absolute;
					top: 6px;
					left: 0;
					width: 1px;
					bottom: 4px;
					background: #888;
					@include respondTo("tablet"){
						display: none;
					}
				}
			}
		}
	}
	.view_cont {
		position: relative;
		.file {
			margin-top: 16px;
			display: flex;
			justify-content: end;
			@include respondTo("tablet"){
				margin-top: 10px;
			}
			a {
				padding-left: 30px;
				font-size: 16px;
				color: #fff;
				display: block;
				background:  url($url_common+"ico_folder.svg") no-repeat left center;
				@include respondTo("tablet"){
					font-size: 14px;
				}
				span {
					display: inline-flex;
					border-bottom: 1px solid #fff;
				}
			}
		}
		.texts {
			margin-top: 40px;
		}

	}
	.view_bottom {
		margin-top: 56px;
		border-top: 1px solid #383B43;
		@include respondTo("tablet"){
			border-top: 0 none;
			margin-top: 0;
		}
		.btns {
			margin-top: 56px;
			text-align: center;
			@include respondTo("tablet"){
				margin-top: 40px;
			}
		}
	}
	.embed_container {
		padding-bottom: 56.25%;
		height: 0;
		position: relative;
		max-width: 1032px;
		margin: 0 auto;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
