@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_radio, .mui_checkbox{
  position: relative;
  display: inline-block;
  input{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    &:checked{

    }
  }
  label {
    padding-left: 32px;
    line-height: 24px;
    min-height: 24px;
    color:$font_color03;
    font-size: 16px;
    display: inline-flex;
    &.inner_block{
      display: block;
    }
    &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-color:$bg_color03;
      border: 1px solid $basic_color05;
      position: absolute;
      border-radius: 12px;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
  }
  &.label13{
    label {
      font-size: 13px;
    }
  }
}
.mui_radio{
  input{
    &:checked + label{
      // color:$main_color01;
      &::before{
        border: 5px solid $main_color01;
      }
    }
  }
}
.mui_checkbox{
  input{
    &:checked + label{
      // color:$main_color01;
      &::before{
        border: 0 none;
        background:$main_color01;
      }
      &::after{
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        @include icon_svg(check, "#fff", 16px);
      }
    }
  }
}

// .mui_radio_group, .mui_checkbox_group{
//   margin-left: -24px;
//   .mui_radio, .mui_checkbox{
//     margin-left: 24px;
//   }
// }
.mui_radio_group, .mui_checkbox_group{
  display: flex;
  flex-wrap: wrap;
	align-content: stretch;
  gap: 16px;
}
.mui_radio_group{

  .mui_radio{
    display: inline-block;
  }
}
.mui_checkbox_group{
  .mui_checkbox{
    display: inline-block;
  }
}
.button_type{
  position: relative;
  display: flex;
  gap: 0 9px;
  border: 0 none;
  .mui_radio, .mui_checkbox{
    flex: 1;
    position: relative;
    z-index: 1;
    margin-left: 0;
    input{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      &:checked + label{
        border: 1px solid #fff;
        background: #fff;
        color: #000;
      }
    }
    label{
      width: 100%;
      text-align: center;
      display: block;
      font-size: 18px;
      
      padding: 6px 0;
      position: relative;
      z-index: 2;
      height: auto;
      height: 38px;

      border: 1px solid #868E96;
      background: #52555A;
      color: #fff;
      &::after, &::before{
        display: none;
      }
    }
  }
}
