@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_title{
  .title{
    font-weight: 700;
    color:#fff;
    &.lv1{
      font-size: 28px;
    }
    &.lv2{
      font-size: 28px;
    }
    &.lv3{
      font-size: 20px;
    }
    &.lv4{
      font-size: 18px;
    }
    &.lv5{
      font-size: 16px;
    }
    &.lv6{
      font-size: 14px;
      font-weight: 400;
    }

    em{
      color:$main_color01;
    }
  }
}