@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_accountbox{
  border: 1px solid $line_color03;
  box-shadow: 0 4px 8px rgba(0,0,0,.04);
  padding: 20px;
  background:$bg_color03;
  border-radius: 20px;
  & ~ .mui_accountbox{
    margin-top: 12px;
  }
  &.main_card{
    background-color:$main_color01;
    padding: 24px 24px 0;
    border: 0 none;
    .acc_val{
      color:$font_color06;
      margin-top: 24px;
      .won{ 
        font-size: 22px;
        margin-left: 0;
      }
    }
    .acc_name{
      color:$font_color06;
    }
    .acc_data{
      display: block;
      margin-top: 4px;
      font-size: 13px;
      opacity: .8;
      .acc_num{
        display:inline-block;
        color: $font_color06;
        border-bottom:1px solid $font_color06;
      }
  
      .acc_end{
        position: relative;
        color: $font_color06;
        padding-left: 0;
        margin-left: 0;
        margin-top: 4px;
        &::after{
          display: none;
        }
      }
    }
    .btns{
      border-top: 1px solid rgba(255,255,255,.2);
      margin: 24px -24px 0;
      .mui_button{
        background: transparent;
        color: $font_color06;
        font-size: 14px;
        height: 48px;
        border-radius: 0;
        & ~ .mui_button{
          margin-left: 0;
          &::after{
            content: '';
            display: block;
            width: 1px;
            height: 16px;
            background: rgba(255,255,255,.2);
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 0;
          }
        }
      }
    }
  }
  .acc_name_wrap{
    position: relative;
    &.inner_tag{
      padding-right: 72px;
    }
    .tags{
      position: absolute;
      top: 0;
      right: 0;
    }
    .acc_name{
      color:$font_color02;
      font-weight: 400;
      a{
        color:$font_color06;
      }
    }
    .mui_tag{
      width: 62px;
      height: 20px;
      text-align: center;
      justify-content: center;
      line-height: 18px;
      border-radius: 10px;
      background:rgba($color: #000, $alpha: .3);
      color:$font_color06;
      font-size: 13px;
      vertical-align: top;
    }

  }
  
  .acc_name{
    font-size: 16px;
    color:$font_color02;
    font-weight: 700;
    a{
      color:$font_color02;
      padding-right: 28px;
      display: inline-block;
      max-width: 100%;
      position: relative;
      vertical-align: top;
      &::after{
        content:"";
        @include icon_svg(arrow-down, "#fff", 24px);
        position: absolute;
        top: 0;
        right: 0;
      }
      span{
        @include ellipsis();
        font-weight: 700;
      }
    }
  }
  .acc_val{
    text-align: right;
    margin-top: 24px;
    font-size: 22px;
    font-weight: 700;
    color:$font_color01;
    .won{
      font-weight: 400;
      margin-left: 4px;
      display: inline-flex;
    }
  }
  .btns{
    margin: 16px -4px -4px;
    display: flex;
    .mui_button{
      flex: 1;
      background: #f4f4f4;
      color:$font_color02;
      font-size: 14px;
      height: 32px;
      border-radius: 8px;
      & ~ .mui_button{
        margin-left: 8px;
      }
    }
  }
  .acc_data{
    display: flex;
    margin-top: 8px;
    font-size: 13px;
    .acc_num{
      color: #888;
      border-bottom: 1px solid $line_color02;
    }

    .acc_end{
      position: relative;
      color: $font_color07;
      padding-left: 9px;
      margin-left: 8px;
      &::after{
        content: '';
        display: block;
        width: 1px;
        height: 8px;
        background:$line_color02;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
}
