@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_datepicker{
  input{
    background: url($url_common+"ico_calendar.svg") no-repeat right center;
    &:disabled{
      background-image: url($url_common+"ico_calendar_disabled.svg");
    }
  }
}
.mui_multipicker{
  display: flex;
  .mui_datepicker{
    flex: 1;
  }
  .divide{
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: $font_color01;
    width: 32px;
    text-align: center;
  }
}
.inner_quick_btn{
  .mui_datepicker, & ~ .mui_multipicker{
    margin-top: 16px;
  }
}
.mui_datepicker_layer{
  display: none;
  position: fixed;
  background: $bg_color03;
  padding: 0 12px 20px;
  z-index: 999;
  box-shadow: 0 8px 12px rgba($color: #000000, $alpha: .08);
  border-radius: 20px;
  .title {
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 700;
    color:$font_color01;
  }
  th, td{
    color: $font_color02;
    width: 42px;
    height: 42px;
    &.mui_disabled{
      button {
        color: $basic_color04;
      }
    }
    &.mui_today{
      button{
        font-weight: bold;
        color:$bg_color03;
        background:$main_color02;
      }
    }
    &.mui_selected{
      button{
        background:$main_color01;
        color:$bg_color03;
      }
    }
    button{
      display: block;
      width: 38px;
      height: 38px;
      border-radius: 50%;

    }
  }
  .mui_calendar{
    width: 100%;
    margin-top: 20px;
  }
  &.mui_active{
    display: block;
  }
}
.picker_header{
  text-align: center;
  .current_month, .current_year{
    padding: 0 12px;
  }
  button{
    @include icon_svg(arrow-left, "#111", 20px);
    &.next_btn {
      transform: rotate(180deg);
    }
  }
}
