@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_inputmoney{
    .result{
        text-align: right;
    }
    .money_guide {
        text-align: right;
        margin-top: 12px;
        font-size: 13px;
        color:$main_color01;
    }
    .mui_button_group {
        margin-top: 12px;
        .group {
            .mui_button:first-child {
                padding: 0;
                margin-top: 0;
            }
        }
        
    }
}