extends ./docs/layout/base.pug
append global 
  - var title = "페이지 리스트"
block content
  //- div 컨텐츠
  iframe.content_frame#content_frame
  script.
    const { $ } = GCui.util;
    const data = {
      "공통 레이어" : {
        "모달 샘플" : ["/html/base_layer.html", ""],
        "fds_guide" : ["/html/fds_guide.html", ""],
        "셀렉트01" : ["/html/select01.html", ""],
        "셀렉트02" : ["/html/select02.html", ""],
        "셀렉트03" : ["/html/select03.html", ""],
      },
      "공통": {
        "webcomcer0100-공통_인증서 선택" : ["/html/webcomcer0100.html", "complete"],
        "webcomcer0100-공통_인증서 등록" : ["/html/webcomcer0100_1.html", "complete"],
        "webcomcer0100-금융 인증서 등록" : ["/html/webcomcer0100_2.html", "complete"],
        "webcomcer0200-간편비밀번호 호출" : ["/html/webcomcer0200.html", ""],
        "webcomcer0300-토스인증" : ["/html/webcomcer0300.html", "confirm"],
        "webcomcer0300-토스인증서 등록" : ["/html/webcomcer0300_1.html", "complete"],
        "webcomcer0400-휴대폰본인인증(뒤7자리)" : ["/html/webcomcer0400.html", "confirm"],
        "webcomcer0500-휴대폰본인인증" : ["/html/webcomcer0500.html", "confirm"],
        "webcomcer0600-입금계좌입력" : ["/html/webcomcer0600.html", "confirm"],
        "webcomcer0700-신분증진위확인" : ["/html/webcomcer0700.html", "confirm"],
        "webcomcer0800-신분증 촬영 안내" : ["/html/webcomcer0800.html", "confirm"],
        "webcomcer0900-토스인증" : ["/html/webcomcer0900.html", "confirm"],
        "webcomcer0901-본인인증_토스인증 완료" : ["/html/webcomcer0901.html", "complete"],
        "webcomcer0902-본인인증_토스인증 완료1" : ["/html/webcomcer0902.html", "complete"],
        "webcomcer0301-본인인증_토스인증 완료2" : ["/html/webcomcer0301.html", "complete"],
        "webcomcer1000-인증번호 확인" : ["/html/webcomcer1000.html", "confirm"],
        "webcomcer1100-휴대폰본인인증" : ["/html/webcomcer1100.html", "confirm"],
        "webcomcer1200-휴대폰본인인증(뒤7자리)" : ["/html/webcomcer1200.html", "confirm"],
        "webcomcer1300-개인정보 수집및 이용 동의" : ["/html/webcomcer1300.html", "complete"],
        "webcomcer1400-통신사 이용약관 동의" : ["/html/webcomcer1400.html", "complete"],
        "webcomcer1500-고유식별번호 처리 동의" : ["/html/webcomcer1500.html", "complete"],
        "webcomcer1600-본인확인이용 동의" : ["/html/webcomcer1600.html", "complete"],
        //- 개발자 요청으로 인해 텝 기능 적용
        "webcomace0100-ARS인증안내": ["/html/webcomace0100.html", "confirm"],
        //- "webcomace0200-ARS인증진행": ["/html/webcomace0200.html", "confirm"],
        //- "webcomace0300-스마트인증안내": ["/html/webcomace0300.html", "confirm"],
        //- "webcomace0400-스마트인증진행": ["/html/webcomace0400.html", "confirm"],
        "webcomace0100-ARS인증 - 정보조회": ["/html/webcomace0100_1.html", "confirm"],
        "webcompro0100-모바일OTP": ["/html/webcompro0100.html", "confirm"],
        "webcompro0400-모바일OTP 비밀번호입력": ["/html/webcompro0400.html", "confirm"],
        "webcompro0300-보안카드": ["/html/webcompro0300.html", "confirm"],
        "webcompro0200-OTP": ["/html/webcompro0200.html", "complete"],
        "webcompro0300-보안카드": ["/html/webcompro0300.html", "confirm"],
        "webcomsig0100-금융인증서": ["/html/webcomsig0100.html", "confirm"],
        "webcomsig0200-토스인증서": ["/html/webcomsig0200.html", "confirm"],
        "webcomsig0300-토스인증서등록안내": ["/html/webcomsig0300.html", "confirm"],
        "webcomvoi0100-보이스피싱 피해 주의(pop)": ["/html/webcomvoi0100.html", "confirm"],
        "webcomvoi0200-보이스피싱 사고신고(pop)": ["/html/webcomvoi0200.html", "confirm"],
        "webcom0100-은행선택": ["/html/webcom0100.html", "confirm"],
        "webcom0200-출금계좌선택": ["/html/webcom0200.html", "confirm"],
        "webcom0300-입금계좌선택": ["/html/webcom0300.html", "confirm"],
        "webcom0400-약관동의": ["/html/webcom0400.html", "confirm"],
        "webcom1200-약관동의(선택포함)": ["/html/webcom1200.html", "confirm"],
        "webcom0500-약관상세": ["/html/webcom0500.html", "confirm"],
        "webcom0600-통장사본": ["/html/webcom0600.html", "confirm"],
        "webcom0700-주소찾기- 검색 전": ["/html/webcom0700.html", "confirm"],
        "webcom0700-주소찾기- 검색 후": ["/html/webcom0700_1.html", "confirm"],
        "webcom0700-주소찾기- 주소 선택 후": ["/html/webcom0700_2.html", "confirm"],
        "webcom0700-주소찾기- 결과 없음": ["/html/webcom0700_3.html", "confirm"],
        "webcom0700-주소찾기- 결과 없음": ["/html/webcom0700_3.html", "confirm"],
        "webcom0800-조회기간설정": ["/html/webcom0800.html", "confirm"],
        "webcom1000-전자금융사기예방서비스": ["/html/webcom1000.html", "confirm"],
        "webcom1100-권유직원 찾기": ["/html/webcom1100.html", "complete"],
        "webcom1300-적합성/적정성 확인서": ["/html/webcom1300.html", "complete"],
        "webcom1300-적합성/적정성 확인서1": ["/html/webcom1300_1.html", "complete"],
        "webcom1300-적합성/적정성 확인서2": ["/html/webcom1300_2.html", "complete"],
        "webcom1300-적합성/적정성 확인서3": ["/html/webcom1300_3.html", "complete"],
        "webcom1300-적합성/적정성 확인서4": ["/html/webcom1300_4.html", "complete"],
        "webcom1300-적합성/적정성 확인서5": ["/html/webcom1300_5.html", "complete"],
        "webcom1300-적합성/적정성 확인서6": ["/html/webcom1300_6.html", "complete"],
        "webcom1300-적합성/적정성 확인서7": ["/html/webcom1300_7.html", "complete"],
        "webcom1300-적합성/적정성 확인서8": ["/html/webcom1300_8.html", "complete"],
        "webcom1300-적합성/적정성 확인서9": ["/html/webcom1300_9.html", "complete"],
        "webcom1300-적합성/적정성 확인서10": ["/html/webcom1300_10.html", "complete"],
        "webcom1400-적합성/적정성 안내": ["/html/webcom1400.html", "complete"],
        "webcom1500-개인정보노출자": ["/html/webcom1500.html", "complete"],
        "webmenmen0100-전체메뉴": ["/html/webmenmen0100.html", "confirm"],
        "kcb_01-올크레딧_자산,신용": ["/html/kcb_01.html", "complete"],
        "kcb_02-올크레딧 MyData": ["/html/kcb_02.html", "complete"],
        "kcb_03-신용관리서비스 동의서(2종)_자산": ["/html/kcb_03.html", "complete"],
        "kcb_04-신용관리서비스_동의서(3종)_신용": ["/html/kcb_04.html", "complete"],
        "nice_01-개인정보_수집 및 제공동의": ["/html/nice_01.html", "complete"],
        "nice_02-고유식별정보_수집 및 제공동의": ["/html/nice_02.html", "complete"],
        "nice_03-통합자산관리_개인정보 수집이용 동의": ["/html/nice_03.html", "complete"],
        "nice_04-통합자산관리_개인정보 제3자 제공 동의": ["/html/nice_04.html", "complete"],
        //- "nice_05-신용관리 개인(신용)정보 수집·이용 동의": ["/html/nice_05.html", "complete"],
        //- "nice_06-신용관리 개인정보 제3자 제공 동의": ["/html/nice_06.html", "complete"],
        //- "nice_07-NICE지키미 회원 이용약관": ["/html/nice_07.html", "complete"],
        "webcomerr0100-505에러페이지": ["/html/webcomerr0100.html", "complete"],
        "webcomerr0200-404에러페이지": ["/html/webcomerr0200.html", "complete"],
        "webcomerr0300-오류알럿": ["/html/webcomerr0300.html", "complete"],
        "webcomjob0100-직종선택": ["/html/webcomjob0100.html", "complete"],
      },
      "메인": {
        "webmaimai0100-메인_로그인전_1": ["/html/webmaimai0100.html", "confirm"],
        "webmaimai0100-메인_로그인전_2": ["/html/webmaimai0100_1.html", "confirm"],
        "webmaimai0100-메인_로그인전_3": ["/html/webmaimai0100_2.html", "confirm"],
        "webmaimai0200-메인_로그인후_1": ["/html/webmaimai0200.html", "confirm"],
        "webmaimai0200-메인_로그인후_2": ["/html/webmaimai0200_1.html", "confirm"],
        "webmaimai0200-메인_로그인후_3": ["/html/webmaimai0200_2.html", "confirm"],
        "webmaimai0300-시스템공지(팝업)": ["/html/webmaimai0300.html", "confirm"],
      },
      "로그인": {
        "webloglog0500-인터넷뱅킹 이용 관련 동의서": ["/html/webloglog0500.html", "confirm"],
        "로그인":{
          "webloglog0100-간편비밀번호로그인": ["/html/webloglog0100.html", "confirm"],
          "webloglog0200-금융인증서로그인": ["/html/webloglog0200.html", "confirm"],
          "webloglog0300-토스인증서로그인": ["/html/webloglog0300.html", "confirm"],
          "webloglog0400-아이디로그인": ["/html/webloglog0400.html", "confirm"],
          "webloglog0401-로그인방식선택": ["/html/webloglog0401.html", "confirm"],
        },
        "뱅킹아이디찾기":{
          "weblogidf0100-정보입력": ["/html/weblogidf0100.html", "confirm"],
          "weblogidf0200-아이디찾기완료(일부마스킹)": ["/html/weblogidf0200.html", "confirm"],
          "weblogidf0300-아이디찾기완료(전체)": ["/html/weblogidf0300.html", "confirm"],
        },
        "뱅킹비밀번호재등록":{
          "weblogurp0100-정보입력": ["/html/weblogurp0100.html", "confirm"],
          "weblogurp0200-신규비밀번호등록": ["/html/weblogurp0200.html", "confirm"],
          "weblogurp0300-뱅킹비밀번호재등록완료": ["/html/weblogurp0300.html", "confirm"],
        },

      },
      "뱅킹": {
        "조회": {
          "webinqovv0100-전체계좌조회": ["/html/webinqovv0100.html", "confirm"],
          "webinqovv0200-계좌정보(입출금)": ["/html/webinqovv0200.html", "confirm"],
          "webinqovv0300-계좌정보(예적금)": ["/html/webinqovv0300.html", "confirm"],
          "webinqovv0301-자동재예치안내": ["/html/webinqovv0301.html", "confirm"],
          "webinqovv0400-계좌정보(대출)": ["/html/webinqovv0400.html", "confirm"],
          "webinqtrh0100-거래내역조회(입출금)": ["/html/webinqtrh0100.html", "confirm"],
          "webinqtrh0101-조회설정(입출금)": ["/html/webinqtrh0101.html", "confirm"],
          "webinqtrh0200-거래내역조회(예적금)": ["/html/webinqtrh0200.html", "confirm"],
          "webinqtrh0201-조회설정(예적금)": ["/html/webinqtrh0201.html", "confirm"],
          "webinqtrh0300-거래내역조회(대출)": ["/html/webinqtrh0300.html", "confirm"],
          "webinqtrh0301-조회설정(대출)": ["/html/webinqtrh0301.html", "confirm"],
        },
        "이체": {
          "즉시이체":{
            "webimtrig0100-출금계좌입력": ["/html/webimtrig0100.html", "confirm"],
            "webimtrig0100-출금계좌입력2": ["/html/webimtrig0100_1.html", "confirm"],
            "webimtrig0100-추가이체등록내역": ["/html/webimtrig0100_2.html", "confirm"],
            "webimtrig0200-이체금액입력": ["/html/webimtrig0200.html", "confirm"],
            "webimtrig0300-입금계좌입력": ["/html/webimtrig0300.html", "confirm"],
            "webimtrig0400-입력정보확인": ["/html/webimtrig0400.html", "confirm"],
            "webimtrig0500-이제완료": ["/html/webimtrig0500.html", "confirm"],
            "webimtrig0500-이제 실패": ["/html/webimtrig0500_1.html", "confirm"],
            "webimtrig0500-이제 실패2": ["/html/webimtrig0500_2.html", "confirm"],
            "webimtrig0600-sms이체결과전송": ["/html/webimtrig0600.html", "confirm"],
            "webimttra0300-이체결과조회": ["/html/webimttra0300.html", "confirm"],
            "webimttra0100-즉시이체결과조회": ["/html/webimttra0100.html", "confirm"],
            "webimttra0200-즉시이체결과조회상세": ["/html/webimttra0200.html", "confirm"],
          },
          "자동이체":{
            "자동이체(당/타행)":{
              "webautaut0800-자동이체(당/타행)": ["/html/webautaut0800.html", "confirm"],
              "webautaut0100-출금계좌입력": ["/html/webautaut0100.html", "confirm"],
              "webautaut0200-이체금액입력": ["/html/webautaut0200.html", "confirm"],
              "webautaut0300-입금계좌입력": ["/html/webautaut0300.html", "confirm"],
              "webautaut0400-자동이체일자입력": ["/html/webautaut0400.html", "confirm"],
              "webautaut0500-약관동의": ["/html/webautaut0500.html", "confirm"],
              "webautaut0501-약관상세": ["/html/webautaut0501.html", "confirm"],
              "webautaut0600-입력정보확인": ["/html/webautaut0600.html", "confirm"],
              "webautaut0700-등록완료": ["/html/webautaut0700.html", ""],
              "webautrev0100-자동이체등록조회": ["/html/webautrev0100.html", "confirm"],
              "webautrev0200-자동이체등록조회상세": ["/html/webautrev0200.html", "confirm"],
              "webautrev0300-변경정보입력": ["/html/webautrev0300.html", "confirm"],
              "webautrev0400-변경정보확인": ["/html/webautrev0400.html", "confirm"],
              "webautrev0500-변경완료": ["/html/webautrev0500.html", "confirm"],
              "webautrev0700-해지정보입력": ["/html/webautrev0700.html", "confirm"],
              "webautrev0600-해지완료": ["/html/webautrev0600.html", "confirm"],
              "webauttra0100-자동이체결과조회": ["/html/webauttra0100.html", "confirm"],
              "webauttra0200-자동이체결과상세": ["/html/webauttra0200.html", "confirm"],
            },
            "자동이체(CMS)":{
              "자동이체등록":{
                "webaucaut0100-출금방식선택": ["/html/webaucaut0100.html", "confirm"],
                "webaucaut0200-출금계좌입력": ["/html/webaucaut0200.html", "confirm"],
                //- "webaucaut0201-계좌선택": ["/html/webaucaut0201.html", ""],
                "webaucaut0202-수취인조회확인": ["/html/webaucaut0202.html", "confirm"],
                "webaucaut0300-이체금액입력": ["/html/webaucaut0300.html", "confirm"],
                "webaucaut0400-입금계좌입력": ["/html/webaucaut0400.html", "confirm"],
                "webaucaut0500-자동이체일자입력": ["/html/webaucaut0500.html", "confirm"],
                "webaucaut0600-약관동의": ["/html/webaucaut0600.html", ""],
                //- "webaucaut0601-약관상세": ["/html/webaucaut0601.html", ""], // 공통으로 진행
                "webaucaut0700-입력정보확인": ["/html/webaucaut0700.html", "confirm"],
                "webaucaut0800-등록완료": ["/html/webaucaut0800.html", "confirm"],
                "webaucaut0900-출금계좌입력": ["/html/webaucaut0900.html", "confirm"],
                "webaucaut1000-이체금액입력": ["/html/webaucaut1000.html", "confirm"],
                "webaucaut1100-입금계좌입력": ["/html/webaucaut1100.html", "confirm"],
                "webaucaut1200-자동이체일자입력": ["/html/webaucaut1200.html", "confirm"],
                "webaucaut1400-입력정보확인": ["/html/webaucaut1400.html", "confirm"],
                "webaucaut1500-등록완료": ["/html/webaucaut1500.html", "confirm"],
              },
              "등록조회/변경/해지":{
                "webaucrev0100-자동이체등록조회": ["/html/webaucrev0100.html", "confirm"],
                "webaucrev0200-자동이체등록조회상세": ["/html/webaucrev0200.html", "confirm"],
                "webaucrev0300-변경정보입력": ["/html/webaucrev0300.html", "confirm"],
                "webaucrev0400-변경정보확인": ["/html/webaucrev0400.html", "confirm"],
                "webaucrev0500-변경완료": ["/html/webaucrev0500.html", "confirm"],
                "webaucrev0700-해지정보입력": ["/html/webaucrev0700.html", "confirm"],
                "webaucrev0600-해지완료": ["/html/webaucrev0600.html", "confirm"],
              },
              "자동이체결과조회":{
                "webauctra0100-자동이체결과조회": ["/html/webauctra0100.html", "confirm"],
                "webauctra0200-자동이체결과상세": ["/html/webauctra0200.html", "confirm"],
              },
              
            },
          },
          "예약이체":{
            "websctres0700-예약이체": ["/html/websctres0700.html", "confirm"],
            "websctres0100-출금계좌입력": ["/html/websctres0100.html", "confirm"],
            "websctres0200-이체금액입력": ["/html/websctres0200.html", "confirm"],
            "websctres0201-이체한도조회": ["/html/websctres0201.html", "confirm"],
            "websctres0300-입금계좌입력": ["/html/websctres0300.html", "confirm"],
            "websctres0400-예약이체일자입력": ["/html/websctres0400.html", "confirm"],
            "websctres0500-입력정보확인": ["/html/websctres0500.html", "confirm"],
            "websctres0600-등록완료": ["/html/websctres0600.html", "confirm"],
            "websctrev0100-예약이체등록조회": ["/html/websctrev0100.html", "confirm"],
            "websctrev0200-예약이체등록조회상세": ["/html/websctrev0200.html", "confirm"],
            "websctrev0300-해지완료": ["/html/websctrev0300.html", "confirm"],
            "webscttra0100-예약이체결과조회": ["/html/webscttra0100.html", "confirm"],
            "webscttra0200-예약이체결과조회상세": ["/html/webscttra0200.html", "confirm"],
          },
        },
        "뱅킹관리": {
          "webcusuac0100-계좌목록" : ["/html/webcusuac0100.html", "confirm"],
          "webcusuac0200-계좌등록" : ["/html/webcusuac0200.html", "confirm"],
          "webcusuac0400-별칭수정" : ["/html/webcusuac0400.html", "confirm"],
          "webtlrdnt0100-정보입력" : ["/html/webtlrdnt0100.html", "confirm"],
          "webtlrdnt0200-감액완료" : ["/html/webtlrdnt0200.html", "confirm"],
          "websuasta0500-거래중지계좌관리" : ["/html/websuasta0500.html", "confirm"],
          "websuasta0600-거래중지계좌 안내" : ["/html/websuasta0600.html", "confirm"],
          "websuasta0100-계좌목록" : ["/html/websuasta0100.html", "confirm"],
          "websuasta0200-계좌상세" : ["/html/websuasta0200.html", "confirm"],
          "websuasta0700-신청방식선택" : ["/html/websuasta0700.html", "confirm"],
          "websuasta0300-정보입력" : ["/html/websuasta0300.html", "confirm"],
          "websuasta0400-해제신청완료" : ["/html/websuasta0400.html", "confirm"],
          "websuasta0800-발송정보입력" : ["/html/websuasta0800.html", "confirm"],
          "websuasta0900-해제신청완료" : ["/html/websuasta0900.html", "confirm"],
          "websuastl0100-거래중지계좌목록" : ["/html/websuastl0100.html", "confirm"],
          "webibaacw0100-계좌번호찾기완료" : ["/html/webibaacw0100.html", "confirm"],
          "webibaacp0100-계좌목록" : ["/html/webibaacp0100.html", "confirm"],
          "webibaacp0200-계좌비밀번호변경" : ["/html/webibaacp0200.html", "confirm"],
          "webibaacp0300-계좌비밀번호변경완료" : ["/html/webibaacp0300.html", "confirm"],
          "webibaapw0100-약관동의" : ["/html/webibaapw0100.html", "confirm"],
          "webibaapw0101-약관상세" : ["/html/webibaapw0101.html", ""],
          "webibaapw0200-신규계좌비밀번호입력" : ["/html/webibaapw0200.html", "confirm"],
          "webibaapw0300-계좌비밀번호오류해제완료" : ["/html/webibaapw0300.html", "confirm"],
        },
        "고객정보관리": {
          "고객정보조회/변경":{
            "webcusiqm0100-고객정보조회": ["/html/webcusiqm0100.html", "confirm"],
            "webcusiqm0200-정보입력": ["/html/webcusiqm0200.html", "confirm"],
            "webcusiqm0400-고객정보조회(법인)": ["/html/webcusiqm0400.html", "confirm"],
            "webcusiqm0500-정보입력(법인)": ["/html/webcusiqm0500.html", "confirm"],
            "webcusiqm0201-카카오톡 정보수신 동의서": ["/html/webcusiqm0201.html", "confirm"],
            "webcusiqm0300-변경완료": ["/html/webcusiqm0300.html", "confirm"],
          },
          "계좌번호찾기":{
            "webibaacw0100-계좌번호찾기완료": ["/html/webibaacw0100.html", "confirm"],
          },
          "계좌비밀번호변경":{
            "webibaacp0100-계좌목록": ["/html/webibaacp0100.html", "confirm"],
            "webibaacp0200-계좌비밀번호변경": ["/html/webibaacp0200.html", "confirm"],
            "webibaacp0300-계좌비밀번호변경완료": ["/html/webibaacp0300.html", "confirm"],
          },
          "계좌비밀번호오류해제":{
            "webibaapw0100-약관동의": ["/html/webibaapw0100.html", "confirm"],
            "webibaapw0200-신규계좌비밀번호입력": ["/html/webibaapw0200.html", "confirm"],
            "webibaapw0300-계좌비밀번호오류해제완료": ["/html/webibaapw0300.html", "confirm"],
          },
          "고객확인제도":{
            "webnomcar0100-고객확인제도안내": ["/html/webnomcar0100.html", "confirm"],
            "webnomcar0400-약관동의": ["/html/webnomcar0400.html", "confirm"],
            "webnomcar0200-고객정보확인": ["/html/webnomcar0200.html", "confirm"],
            "webnomcar0300-확인완료": ["/html/webnomcar0300.html", "confirm"],
          },
          "장기미접속해제":{
            "webibaltr0100-안내": ["/html/webibaltr0100.html", "confirm"],
            "webibaltr0200-정보입력": ["/html/webibaltr0200.html", "confirm"],
            "webibaltr0500-인증방법선택": ["/html/webibaltr0500.html", "confirm"],
            "webibaltr0301-정보확인": ["/html/webibaltr0301.html", "confirm"],
            "webibaltr0400-장기미접속해제완료": ["/html/webibaltr0400.html", "confirm"],
          },
          "뱅킹비밀번호 변경": {
            "webcuspwm0100-정보입력": ["/html/webcuspwm0100.html", "confirm"],
            "webcuspwm0200-완료": ["/html/webcuspwm0200.html", "confirm"],
          },
          "제증명":{
            "금융거래확인서":{
              "webcerapp0100-이용안내": ["/html/webcerapp0100.html", "confirm"],
              "webcerapp0200-제증명선택": ["/html/webcerapp0200.html", "confirm"],
              "webcerfin0400-발급기준일선택": ["/html/webcerfin0400.html", "confirm"],
              "webcerfin0500-신청정보입력": ["/html/webcerfin0500.html", "confirm"],
              "webcerfin0600-신청완료": ["/html/webcerfin0600.html", "confirm"],
              "webcerfin0100-발급정보입력": ["/html/webcerfin0100.html", "confirm"],
              "webcerfin0200-발급신청": ["/html/webcerfin0200.html", "confirm"],
              "webcerfin0300-발급완료": ["/html/webcerfin0300.html", "confirm"],
              "webcerfin0301-상세정보": ["/html/webcerfin0301.html", "confirm"],
            },
            "예금잔액증명서":{
              "webcerdep0400-발급기준일선택": ["/html/webcerdep0400.html", "confirm"],
              "webcerdep0500-신청정보입력": ["/html/webcerdep0500.html", "confirm"],
              "webcerdep0600-신청완료": ["/html/webcerdep0600.html", "confirm"],
              "webcerdep0100-발급정보입력": ["/html/webcerdep0100.html", "confirm"],
              "webcerdep0200-발급신청": ["/html/webcerdep0200.html", "confirm"],
              "webcerdep0300-발급완료": ["/html/webcerdep0300.html", "confirm"],
              "webcerdep0301-상세정보": ["/html/webcerdep0301.html", "confirm"],
              "webcerdep1000-발급일잣건택": ["/html/webcerdep1000.html", "confirm"],
              "webcerdep0800-신청정보입력": ["/html/webcerdep0800.html", "confirm"],
              "webcerdep0900-신청완료": ["/html/webcerdep0900.html", "confirm"],
            },

            "부채잔액증명서":{
              "webcerdeb0400-발급기준일선택": ["/html/webcerdeb0400.html", "confirm"],
              "webcerdeb0500-신청정보입력": ["/html/webcerdeb0500.html", "confirm"],
              "webcerdeb0600-신청완료": ["/html/webcerdeb0600.html", "confirm"],
              "webcerdeb0100-발급정보입력": ["/html/webcerdeb0100.html", "confirm"],
              "webcerdeb0200-발급신청": ["/html/webcerdeb0200.html", "confirm"],
              "webcerdeb0300-발급완료": ["/html/webcerdeb0300.html", "confirm"],
              "webcerdeb0301-상세정보": ["/html/webcerdeb0301.html", "confirm"],
            },
            "원천징수영수증":{
              "webcercol0100-발급정보입력": ["/html/webcercol0100.html", "confirm"],
              "webcercol0200-발급신청": ["/html/webcercol0200.html", "confirm"],
              "webcercol0300-발급완료": ["/html/webcercol0300.html", "confirm"],
              "webcercol0301-상세정보": ["/html/webcercol0301.html", "confirm"],
              "webcercol0400-발급정보입력": ["/html/webcercol0400.html", "confirm"],
              "webcercol0500-발급신청": ["/html/webcercol0500.html", "confirm"],
              "webcercol0600-발급완료": ["/html/webcercol0600.html", "confirm"],
              "webcercol0601-상세정보": ["/html/webcercol0601.html", "confirm"],
            },
            "제증명신청조회/취소":{
              "webzeutra0200-제증명신청조회": ["/html/webzeutra0200.html", "confirm"],
              "webzeutra0300-취소완료": ["/html/webzeutra0300.html", "confirm"],
            },
            "제증명진위확인":{
              "webzeutru0300-QR코드": ["/html/webzeutru0300.html", "confirm"],
              "webzeutru0100-정보입력": ["/html/webzeutru0100.html", "confirm"],
              "webzeutru0200-진위확인": ["/html/webzeutru0200.html", "confirm"],
            },
          },
          "최초뱅킹 비밀번호 등록":{
            "webcusfup0100-정보입력": ["/html/webcusfup0100.html", "complete"],
            "webcusfup0200-등록완료": ["/html/webcusfup0200.html", "complete"],
          },
        },
      },
      "금융상품": {
        "예적금":{
          "상품안내/신청" : {
            "예적금상품목록" : ['/html/webdepdep0100.html', ""],
            "보통예금" : {
              "webdepacc0100_상품안내" : ["/html/webdepacc0100.html", "confirm"],
              "webdepacc0101_가입준비안내" : ["/html/webdepacc0101.html", "confirm"],
              "webdepacc0200_약관동의" : ["/html/webdepacc0200.html", "confirm"],
              "webdepacc0201_약관상세" : ["/html/webdepacc0201.html", "confirm"],
              "webdepacc0202_상품가입 전 확인사항" : ["/html/webdepacc0202.html", "confirm"],
              "webdepacc0700_계좌개설 제한 안내" : ["/html/webdepacc0700.html", "confirm"],
              "webdepacc0800_이어가기안내" : ["/html/webdepacc0800.html", "confirm"],
              "webdepacc0300_고객정보입력" : ["/html/webdepacc0300.html", "confirm"],
              "webdepacc0900_추가정보입력" : ["/html/webdepacc0900.html", "confirm"],
              "webdepacc1000_상품정보입력" : ["/html/webdepacc1000.html", "confirm"],
              "webdepacc1100_고객정보입력" : ["/html/webdepacc1100.html", "confirm"],
              "webdepacc1101_OTP확인방법" : ["/html/webdepacc1101.html", "confirm"],
              "webdepacc1200_이체한도설정" : ["/html/webdepacc1200.html", "confirm"],
              "webdepacc1201_이체한도제한 안내" : ["/html/webdepacc1201.html", "confirm"],
              "webdepacc1300_이체한도제한 안내" : ["/html/webdepacc1300.html", "confirm"],
              "webdepacc0400_전자금융신청" : ["/html/webdepacc0400.html", "confirm"],
              "webdepacc0600_신청완료" : ["/html/webdepacc0600.html", "confirm"],
              "webdepacc1400_예적금상품추천" : ["/html/webdepacc1400.html", "confirm"],
            },
            "예금" : {
              "webdeidls0100_상품안내(단리)" : ["/html/webdeidls0100.html", "confirm"],
              "webdeidls0101_예금이자계산기" : ["/html/webdeidls0101.html", "confirm"],
              "webdeidls0200_약관동의" : ["/html/webdeidls0200.html", "confirm"],
              "webdeidls0200_약관동의_팝업" : ["/html/webdeidls0200_1.html", "confirm"],
              "webdeidls0201_약관상세" : ["/html/webdeidls0201.html", "confirm"],
              "webdeidls0300_정보입력" : ["/html/webdeidls0300.html", "confirm"],
              "webdeidls0304_상품상세정보" : ["/html/webdeidls0304.html", "confirm"],
              "webdeidls0305_예적금_정기예금(단리)_비과세안내" : ["/html/webdeidls0305.html", "confirm"],
              "webdeidls0303_가입금액입력" : ["/html/webdeidls0303.html", "confirm"],
              "webdeidls0301_만기자동재예치 안내" : ["/html/webdeidls0301.html", "confirm"],
              "webdeidls0302_비과세한도조회" : ["/html/webdeidls0302.html", "confirm"],
              "webdeidls0400_정보확인" : ["/html/webdeidls0400.html", "confirm"],
              "webdeidls0401_가입진행" : ["/html/webdeidls0401.html", "confirm"],
              "webdeidls0500_신청완료" : ["/html/webdeidls0500.html", "confirm"],
              "webdeidls0501_상세정보" : ["/html/webdeidls0501.html", "confirm"],
              "webdeicom0100_상품안내(복리)" : ["/html/webdeicom0100.html", "confirm"],
              "webdeicom0200_약관동의" : ["/html/webdeicom0200.html", "confirm"],
              "webdeicom0201_약관상세" : ["/html/webdeicom0201.html", "confirm"],
              "webdeicom0300_정보입력" : ["/html/webdeicom0300.html", "confirm"],
              "webdeicom0400_정보확인" : ["/html/webdeicom0400.html", "confirm"],
              "webdeicom0500_신청완료" : ["/html/webdeicom0500.html", "confirm"],
              "webdeicom0501_상세정보" : ["/html/webdeicom0501.html", "confirm"],
            },
            "적금" : {
              "webdeiils0100_적금상품안내" : ["/html/webdeiils0100.html", "confirm"],
              "webdeiils0101_적금이자계산기" : ["/html/webdeiils0101.html", "confirm"],
              "webdeiils0200_약관동의" : ["/html/webdeiils0200.html", "confirm"],
              "webdeiils0201_약관상세" : ["/html/webdeiils0201.html", "confirm"],
              "webdeiils0300_정보입력" : ["/html/webdeiils0300.html", "confirm"],
              "webdeiils0304_상품상세정보" : ["/html/webdeiils0304.html", "confirm"],
              "webdeiils0303_불입금액입력" : ["/html/webdeiils0303.html", "confirm"],
              "webdeiils0301_자동이체등록안내" : ["/html/webdeiils0301.html", "confirm"],
              "webdeiils0302_자동이체미등록안내" : ["/html/webdeiils0302.html", "confirm"],
              "webdeiils0400_정보확인" : ["/html/webdeiils0400.html", "confirm"],
              "webdeiils0500_신청완료" : ["/html/webdeiils0500.html", "confirm"],
              "webdeiils0501_상세정보" : ["/html/webdeiils0501.html", "confirm"],
              "webdeifil0100_상품안내(자유적립적금)" : ["/html/webdeifil0100.html", "confirm"],
              "webdeifil0200_약관동의" : ["/html/webdeifil0200.html", "confirm"],
              "webdeifil0300_가입정보입력" : ["/html/webdeifil0300.html", "confirm"],
              "webdeifil0303_불입금액입력" : ["/html/webdeifil0303.html", "confirm"],
              "webdeifil0400_입력정보확인" : ["/html/webdeifil0400.html", "confirm"],
              "webdeifil0500_가입완료" : ["/html/webdeifil0500.html", "confirm"],
              "webdeifil0501_상세정보" : ["/html/webdeifil0501.html", "confirm"],
            },

          },
          "계좌개설신청내역조회" : {
            "webdeibre0100_주민등록번호확인": ['/html/webdeibre0100.html', "confirm"],
            "webdeibre0200_신청내역목록": ['/html/webdeibre0200.html', "confirm"],
            "webdeibre0400_상세정보1": ['/html/webdeibre0400.html', "confirm"],
            "webdeibre0400_상세정보2": ['/html/webdeibre0400_1.html', "confirm"],
          },
          "만기자동재예치" : {
            "webdeareg0500_만기자동재예치":["/html/webdeareg0500.html", "confirm"],
            "webdeareg0600_만기자동재예치안내":["/html/webdeareg0600.html", "confirm"],
            "webdeareg0100_계좌선택":["/html/webdeareg0100.html", "confirm"],
            "webdeareg0200_계좌정보입력":["/html/webdeareg0200.html", "confirm"],
            "webdeareg0201_이자입금정보확인":["/html/webdeareg0201.html", "confirm"],
            "webdeareg0400_등록완료":["/html/webdeareg0400.html", "confirm"],
            "webdeacle0100_계좌선택":["/html/webdeacle0100.html", "confirm"],
            "webdeacle0200_해제내역확인":["/html/webdeacle0200.html", "confirm"],
            "webdeacle0300_해제완료":["/html/webdeacle0300.html", "confirm"],
          },

        },
        "대출":{
          "webloalan0100-랜딩페이지": ["/html/webloalan0100.html", "confirm"],
          "상품안내/신청":{
            //- "webinfinf0100-대출상품목록": ["/html/webinfinf0100.html", "confirm"],
            "신용대출":{
              "webinfsig0100_신용대출상품안내" : ["/html/webinfsig0100.html", "confirm"],
              "webinfsig0101_금융계산기(대출)" : ["/html/webinfsig0101.html", "confirm"],
              "webinfsig0102_상환방법안내" : ["/html/webinfsig0102.html", "confirm"],
              "webinfsig0103_신청안내(신용대출)" : ["/html/webinfsig0103.html", "confirm"],
              "webinfsig0104_대출 적합성 미등록" : ["/html/webinfsig0104.html", "confirm"],
              "webinfsig0104_2_대출 적합성 미완료" : ["/html/webinfsig0104_2.html", "confirm"],
              "webinfsig0104_3_대출 적합성 부적합" : ["/html/webinfsig0104_3.html", "confirm"],
              "webinfsig0104_4_대출 적합성 확인" : ["/html/webinfsig0104_4.html", "confirm"],
              "webinfsig0200_약관동의" : ["/html/webinfsig0200.html", "confirm"],
              "webinfsig0201_약관상세" : ["/html/webinfsig0201.html", ""],
              "webinfsig0300_대출신청정보" : ["/html/webinfsig0300.html", "confirm"],
              //- "webinfsig0400_고객소득정보" : ["/html/webinfsig0400.html", "confirm"],
              "webinfsig0500_대출신청완료" : ["/html/webinfsig0500.html", "confirm"],
              "webinfsig0501_이어가기안내(신용대출)" : ["/html/webinfsig0501.html", "confirm"],
              "webinfsig0501_1_이어가기안내(취소alert)" : ["/html/webinfsig0501_1.html", "confirm"],
              "webinfsig0501_2_이어가기안내(종료alert)" : ["/html/webinfsig0501_2.html", "confirm"],
              "webinfsig0600_고객추가정보" : ["/html/webinfsig0600.html", "confirm"],
              "webinfsig0600_1_고객추가정보(개인사업자)" : ["/html/webinfsig0600_1.html", "confirm"],
              "webinfsig0700_고객직장정보" : ["/html/webinfsig0700.html", "confirm"],
            },
            "햇살론":{
              "webinfsig1100_햇살론상품안내" : ["/html/webinfsig1100.html", "confirm"],
              "webinfsig1101_신청안내(햇살론)" : ["/html/webinfsig1101.html", "confirm"],
              "webinfsig1200_약관동의" : ["/html/webinfsig1200.html", "confirm"],
              "webinfsig1201_약관상세" : ["/html/webinfsig1201.html", ""],
              "webinfsig1300_대출신청정보" : ["/html/webinfsig1300.html", "confirm"],
              "webinfsig1400_고객추가정보" : ["/html/webinfsig1400.html", "confirm"],
              "webinfsig1400_1_고객추가정보(개인사업자)" : ["/html/webinfsig1400_1.html", "confirm"],
              "webinfsig1500_고객직장정보" : ["/html/webinfsig1500.html", "confirm"],
              //- "webinfsig1600_고객소득정보" : ["/html/webinfsig1600.html", "confirm"],
              "webinfsig1700_대출신청완료" : ["/html/webinfsig1700.html", "confirm"],
              "webinfsig1701_이어가기안내(햇살론)" : ["/html/webinfsig1701.html", "confirm"],
              "webinfsig1800_대상확인" : ["/html/webinfsig1800.html", "confirm"],
              //- "webinfsig1900_한도조회결과" : ["/html/webinfsig1900.html", "confirm"],
              //- "webinfsig1900_1_한도조회결과(결과없음)" : ["/html/webinfsig1900_1.html", "confirm"],
            },
            "예적금담보대출":{
              "webinfloa0700_대출상품목록" : ["/html/webinfloa0700.html", "confirm"],
              "webinfloa0100_예적금담보대출안내" : ["/html/webinfloa0100.html", "confirm"],
              "webinfloa0200_약관동의" : ["/html/webinfloa0200.html", "confirm"],
              "webinfloa0201_약관상세" : ["/html/webinfloa0201.html", "confirm"],
              "webinfloa0300_대출신청정보입력" : ["/html/webinfloa0300.html", "confirm"],
              "webinfloa0400_대출신청정보확인" : ["/html/webinfloa0400.html", "confirm"],
              "webinfloa0400_1_대출신청정보확인(팝업)" : ["/html/webinfloa0400_1.html", "confirm"],
              "webinfloa0500_대출신청완료" : ["/html/webinfloa0500.html", "confirm"],
              "webinfloa0600_예적금계좌선택" : ["/html/webinfloa0600.html", "confirm"],
              "webinfloa0600_1_예적금계좌선택(계좌없음)" : ["/html/webinfloa0600_1.html", "confirm"],
            },
            "주택담보대출":{
              "webinfhom0100-상품안내" : ["/html/webinfhom0100.html", "confirm"],
              "webinfhom0101-신청안내(주택담보대출)" : ["/html/webinfhom0101.html", "confirm"],
              "webinfhom0200-약관동의" : ["/html/webinfhom0200.html", "confirm"],
              "webinfhom0201-약관상세" : ["/html/webinfhom0201.html", ""],
              "webinfhom0300-주택담보대출정보입력(대화형)" : ["/html/webinfhom0300.html", "confirm"],
              "webinfhom0300-주택담보대출정보입력(대화형)_다른버전" : ["/html/webinfhom0300_othertype.html", "confirm"],
              "webinfhom0400-주소검색" : ["/html/webinfhom0400.html", "confirm"],
              "webinfhom0401-주소정보" : ["/html/webinfhom0401.html", "confirm"],
              "webinfhom0402-사업시작일입력" : ["/html/webinfhom0402.html", "confirm"],
              "webinfhom0403-연금액입력" : ["/html/webinfhom0403.html", "confirm"],
              "webinfhom0404-동선택" : ["/html/webinfhom0404.html", "confirm"],
              "webinfhom0405-호선택" : ["/html/webinfhom0405.html", "confirm"],
              "webinfhom0406-임대료입력" : ["/html/webinfhom0406.html", "confirm"],
              "webinfhom0407-대출신청금액입력" : ["/html/webinfhom0407.html", "confirm"],
            },
            "한도조회" : {
              "webinflim0100-서비스소개" : ["/html/webinflim0100.html", "confirm"],
              "webinflim0100-서비스소개 시간" : ["/html/webinflim0100_1.html", "confirm"],
              "webinflim0200-약관동의" : ["/html/webinflim0200.html", "confirm"],
              "webinflim0201-약관상세" : ["/html/webinflim0201.html", ""],
              "webinflim0800-소득조회선택" : ["/html/webinflim0800.html", "confirm"],
              "webinflim0300-주민등록번호 뒷자리 입력" : ["/html/webinflim0300.html", "confirm"],
              "webinflim0400-공공마이데이터 조회" : ["/html/webinflim0400.html", "confirm"],
              "webinflim0500-직업선택" : ["/html/webinflim0500.html", "confirm"],
              "webinflim0501-직장/소득정보 " : ["/html/webinflim0501.html", "confirm"],
              "webinflim0501-직장/소득정보 사업자" : ["/html/webinflim0501_1.html", "confirm"],
              "webinflim0501-직장/소득정보 기타" : ["/html/webinflim0501_2.html", "confirm"],
              "webinflim0502-직장명 검색" : ["/html/webinflim0502.html", "confirm"],
              "webinflim0502-직장명 검색 결과 없음" : ["/html/webinflim0502_1.html", "confirm"],
              "webinflim0502-직장명 검색 결과 있음" : ["/html/webinflim0502_2.html", "confirm"],
              "webinflim0503-직장명 직접입력" : ["/html/webinflim0503.html", "confirm"],
              "webinflim0504-사업자명 검색" : ["/html/webinflim0504.html", "confirm"],
              "webinflim0504-사업자명 검색 결과 없음" : ["/html/webinflim0504_1.html", "confirm"],
              "webinflim0504-사업자명 검색 결과 있음" : ["/html/webinflim0504_2.html", "confirm"],
              "webinflim0505-사업자명 직접입력" : ["/html/webinflim0505.html", "confirm"],
              "webinflim0600-로딩페이지" : ["/html/webinflim0600.html", "confirm"],
              "webinflim0600-로딩페이지 NICE/KCB" : ["/html/webinflim0600_1.html", "confirm"],
              "webinflim0700-대출한도조회 결과" : ["/html/webinflim0700.html", "confirm"],
              "webinflim0700-대출한도조회 결과 없음" : ["/html/webinflim0700_1.html", "confirm"],
              "webinflim0900-대출한도조회결과(개별상품)" : ["/html/webinflim0900.html", "confirm"],
              "webinflim0900-대출한도조회결과(개별상품)_2" : ["/html/webinflim0900_1.html", "confirm"],
              "webinflim0701-상품상세소개" : ["/html/webinflim0701.html", "confirm"],
            }
          },
          "대출금액조회/적정성등록":{
            "webrpitra0100-대출이자납입금액조회" : ["/html/webrpitra0100.html", "confirm"],
            "webrpitra0200-상세정보" : ["/html/webrpitra0200.html", "confirm"],
            "webrpidtr0100-대출상환예정금액조회" : ["/html/webrpidtr0100.html", "confirm"],
            "webrpidtr0200-상세정보" : ["/html/webrpidtr0200.html", "confirm"],
            "weblonqud0100_적정성등록" : ["/html/weblonqud0100.html", "confirm"],
            "weblonqud0200_약관동의" : ["/html/weblonqud0200.html", "confirm"],
            "weblonqud0900_인증서선택" : ["/html/weblonqud0900.html", "confirm"],
            "weblonqud0300_적정성 결과 안내" : ["/html/weblonqud0300.html", "confirm"],
            "weblonqud0400_금융소비자선택" : ["/html/weblonqud0400.html", "confirm"],
            "weblonqud0500_확인서작성" : ["/html/weblonqud0500.html", "confirm"],
            "weblonqud0600_대출이자납입금액조회" : ["/html/weblonqud0600.html", "confirm"],
            "weblonqud0700_담보대출확인서작성" : ["/html/weblonqud0700.html", "confirm"],
            "weblonqud0800_제공정보확인" : ["/html/weblonqud0800.html", "confirm"],
          },
          "전자약정/대출신청조회":{
            "webinfjoi0100_전자약정안내" : ["/html/webinfjoi0100.html", "confirm"],
            "webinfjoi0200_실명/본인확인" : ["/html/webinfjoi0200.html", "confirm"],
            "webinfjoi0300_약정목록" : ["/html/webinfjoi0300.html", "confirm"],
            "webinfjoi0400_약정확인" : ["/html/webinfjoi0400.html", "confirm"],
            "webinfjoi0600_약정서동의" : ["/html/webinfjoi0600.html", "confirm"],
            "webinfjoi0700_전자약정서확인" : ["/html/webinfjoi0700.html", "confirm"],
            "webinfjoi0500_전자약정 완료" : ["/html/webinfjoi0500.html", "confirm"],
            "webinqdtr0100-목록" : ["/html/webinqdtr0100.html", "confirm"],
            "webinqdtr0200_상세정보(심사중)" : ["/html/webinqdtr0200.html", "confirm"],
            "webinqdtr0200_1_상세정보(심사완료)" : ["/html/webinqdtr0200_1.html", "confirm"],
            "webinqdtr0300-실명/본인확인" : ["/html/webinqdtr0300.html", "confirm"],
            "webinqdtr0400-예적금담보대출신청목록" : ["/html/webinqdtr0400.html", "confirm"],
            "webinqdtr0400_1-예적금담보대출신청목록(없는경우)" : ["/html/webinqdtr0400_1.html", "confirm"],
            "webinqdtr0500-대출신청상세" : ["/html/webinqdtr0500.html", "confirm"],
            "webinqdtr0600-대출실행완료" : ["/html/webinqdtr0600.html", "confirm"],
            "webinqdtr0601-대출정보확인(팝업)" : ["/html/webinqdtr0601.html", "confirm"],
            "webinqdtr0700-대출신청조회" : ["/html/webinqdtr0700.html", "confirm"],
          },
          "금리인하요구권":{
            "webircapp0100-금리인하요구권 안내" : ["/html/webircapp0100.html", "confirm"],
            "webircapp0600-주민등록번호 입력" : ["/html/webircapp0600.html", "confirm"],
            "webircapp0200-계좌조회" : ["/html/webircapp0200.html", "confirm"],
            "webircapp0300-정보입력" : ["/html/webircapp0300.html", "confirm"],
            "webircapp0400-신청완료" : ["/html/webircapp0400.html", "confirm"],
            "webircapp0500-금리인하요구권" : ["/html/webircapp0500.html", "confirm"],
            "webirccnc0100-신청내역조회" : ["/html/webirccnc0100.html", "confirm"],
            "webirccnc0200-신청내역 상세" : ["/html/webirccnc0200.html", "confirm"],
            "webirccnc0300-약관동의" : ["/html/webirccnc0300.html", ""],
            "webirccnc0400-취소완료" : ["/html/webirccnc0400.html", "confirm"],
          },
          "신용정보조회동의":{
            "webinfsui0100-약관동의" : ["/html/webinfsui0100.html", "confirm"],
            "webinfsui0101-약관상세" : ["/html/webinfsui0101.html", ""],
            "webinfsui0200-금융소비자선택" : ["/html/webinfsui0200.html", "confirm"],
            "webinfsui0300-확인서작성" : ["/html/webinfsui0300.html", "confirm"],
            "webinfsui0400-추가확인서작성" : ["/html/webinfsui0400.html", "confirm"],
            "webinfsui0500-제공정보확인" : ["/html/webinfsui0500.html", "confirm"],
            "webinfsui0600-인증서선택" : ["/html/webinfsui0600.html", "confirm"],
            "webinfsui0700-본인인증" : ["/html/webinfsui0700.html", "confirm"],
            "webinfsui0800-조회완료" : ["/html/webinfsui0800.html", "confirm"],
          },
          "대출상품본인인증":{
            "webinfpro0100-약관동의" : ["/html/webinfpro0100.html", "confirm"],
            "webinfpro0101-약관상세" : ["/html/webinfpro0101.html", ""],
            "webinfpro0200-금융소비자선택" : ["/html/webinfpro0200.html", "confirm"],
            "webinfpro0300-확인서작성" : ["/html/webinfpro0300.html", "confirm"],
            "webinfpro0400-추가확인서작성" : ["/html/webinfpro0400.html", "confirm"],
            "webinfpro0500-제공정보확인" : ["/html/webinfpro0500.html", "confirm"],
            "webinfpro0600-본인인증완료" : ["/html/webinfpro0600.html", "confirm"],
            "webinfpro0700-인증서선택" : ["/html/webinfpro0700.html", "confirm"],
            "webinfpro0800-대출상품본인인증" : ["/html/webinfpro0800.html", "confirm"],
          },
          "대출철회":{
            "webwilapp0100-대출철회안내" : ["/html/webwilapp0100.html", "confirm"],
            "webwilapp0200-철회계좌조회" : ["/html/webwilapp0200.html", "confirm"],
            "webwilapp0400-철회신청완료" : ["/html/webwilapp0400.html", "confirm"],
            "webwilapp0500-대출철회" : ["/html/webwilapp0500.html", "confirm"],
            "webwilcnc0100-대출철회조회" : ["/html/webwilcnc0100.html", "confirm"],
            "webwilcnc0200-철회조회상세" : ["/html/webwilcnc0200.html", "confirm"],
            "webwilcnc0300-철회취소완료" : ["/html/webwilcnc0300.html", "confirm"],
          },
          "온라인서류제출":{
            "webinfonl0100-온라인 서류제출" : ["/html/webinfonl0100.html", "confirm"],
            "webinfonl0200-제출용도선택" : ["/html/webinfonl0200.html", "confirm"],
            "webinfonl0300-서류제출" : ["/html/webinfonl0300.html", "confirm"],
            "webinfonl0301-서류제출방법선택" : ["/html/webinfonl0301.html", "confirm"],
            "webinfonl0302-첨부파일상세" : ["/html/webinfonl0302.html", "confirm"],
            "webinfonl0400-고객정보확인" : ["/html/webinfonl0400.html", "confirm"],
            "webinfonl0500-서류제출완료" : ["/html/webinfonl0500.html", "confirm"],
            "webinfonl0600-제출용도선택" : ["/html/webinfonl0600.html", "confirm"],
            "webinfonl0700-고객정보확인" : ["/html/webinfonl0700.html", "confirm"],
            "webinfonl0800-약관동의" : ["/html/webinfonl0800.html", "confirm"],
            "webinfonl0801-약관상세" : ["/html/webinfonl0801.html", ""],
            "webinfonl0900-로딩페이지" : ["/html/webinfonl0900.html", "confirm"],
            "webinfonl1000-서류제출완료" : ["/html/webinfonl1000.html", "confirm"],
            "webinfonl1100-서류제출조회" : ["/html/webinfonl1100.html", "confirm"],
            "webinfonl1200-서류제출상세" : ["/html/webinfonl1200.html", "confirm"],
          },
        },
      },
      "고객센터": {
        "webuifnot0100-목록": ["/html/webuifnot0100.html", "confirm"],
        "webuifnot0101-상세": ["/html/webuifnot0101.html", "confirm"],
        "webuifuse0100-고객상담": ["/html/webuifuse0100.html", "confirm"],
        "webuifuse0200-이용시간안내": ["/html/webuifuse0200.html", "confirm"],
        "webuifuse0300-영업점안내": ["/html/webuifuse0300.html", "confirm"],
        "webuifuse0301-영업점안내-상세": ["/html/webuifuse0301.html", "confirm"],
        "webuifevn0100-이벤트목록": ["/html/webuifevn0100.html", "confirm"],
        "webuifevn0101-이벤트상세": ["/html/webuifevn0101.html", "confirm"],
      },
      "인증/보안": {
        "금융인증서":{
          "webocereg0100-금융인증서 안내": ["/html/webocereg0100.html", "confirm"],
          "webocereg0200-정보입력": ["/html/webocereg0200.html", "confirm"],
          "webocereg0300-등록완료": ["/html/webocereg0300.html", "confirm"],
          "webocerev0100-정보입력": ["/html/webocerev0100.html", "confirm"],
          "webocerev0200-해지완료": ["/html/webocerev0200.html", "confirm"],
          "webocerev0300-인증서확인": ["/html/webocerev0300.html", "confirm"],
          "weboceadm0200-인증서 관리": ["/html/weboceadm0200.html", "confirm"],
        },
        "토스인증서":{
          "webtostos0100-토스인증서 안내": ["/html/webtostos0100.html", "confirm"],
          "webtostos0200-정보입력": ["/html/webtostos0200.html", "confirm"],
          "webtostos0300-등록완료": ["/html/webtostos0300.html", "confirm"],
          "webtosrev0100-정보입력": ["/html/webtosrev0100.html", "confirm"],
          "webtosrev0200-해지완료": ["/html/webtosrev0200.html", "confirm"],
          "webtosrev0300-인증서확인": ["/html/webtosrev0300.html", "confirm"],
          "webtosadm0200-인증서 관리": ["/html/webtosadm0200.html", "confirm"],
        },
        "간편비밀번호":{
          "webpinpin0100-등록안내" : ["/html/webpinpin0100.html", "confirm"],
          "webpinpin0200-약관동의" : ["/html/webpinpin0200.html", "confirm"],
          "webpinpin0201-약관상세" : ["/html/webpinpin0201.html", ""],
          "webpinpin0300-등록완료" : ["/html/webpinpin0300.html", "confirm"],
          "webpinpin0400-유의사항확인" : ["/html/webpinpin0400.html", "confirm"],
          "webpinpin0500-간편비밀번호등록" : ["/html/webpinpin0500.html", "confirm"],
          "webpincha0100-간편비밀번호변경" : ["/html/webpincha0100.html", "confirm"],
          "webpincha0200-변경완료" : ["/html/webpincha0200.html", "confirm"],
          "webpinrev0100-간편비밀번호해지" : ["/html/webpinrev0100.html", "confirm"],
          "webpinrev0200-해지완료" : ["/html/webpinrev0200.html", "confirm"],
        },
        "추가인증서비스":{
          "webadsinf0100-이용안내" : ["/html/webadsinf0100.html", "confirm"],
          "webadsjoi0100-가입신청" : ["/html/webadsjoi0100.html", "confirm"],
          "webadsjoi0200-가입완료" : ["/html/webadsjoi0200.html", "confirm"],
          "webadsrev0100-해지신청" : ["/html/webadsrev0100.html", "confirm"],
          "webadsrev0200-해지완료" : ["/html/webadsrev0200.html", "confirm"],
        },
        "보안매체":{
          "webseuotp0100-OTP보정확인" : ["/html/webseuotp0100.html", "confirm"],
          "webseuotp0200-보정완료" : ["/html/webseuotp0200.html", "confirm"],
          "webseuotp0300-미대상안내" : ["/html/webseuotp0300.html", "confirm"],
          "webseuoot0100-타기관OTP등록" : ["/html/webseuoot0100.html", "confirm"],
          "webseuoot0200-정보확인" : ["/html/webseuoot0200.html", "confirm"],
          "webseuoot0300-등록완료" : ["/html/webseuoot0300.html", "confirm"],
        },
      },






    };
    GCui.tree($('#treemenu'), {
      data: data,
      idName:'tree1',
      mainFrame:'#content_frame',
    })
