extends ./docs/layout/base.pug
append global 
  - var title = "페이지 리스트"
block content
  //- div 컨텐츠
  iframe.content_frame#content_frame
  script.
    const { $ } = GCui.util;
    const data = {
      "pages" : {
        "LXPFA_SB_2D_SM_001" : ["/html/LXPFA_SB_2D_SM_001.html", "complete"],
        "LXPFA_SB_2D_SM_006" : ["/html/LXPFA_SB_2D_SM_006.html", "complete"],
        "LXPFA_SB_2D_SM_010" : ["/html/LXPFA_SB_2D_SM_010.html", "complete"],
        "LXPFA_SB_2D_SM_026" : ["/html/LXPFA_SB_2D_SM_026.html", "complete"],
        "LXPFA_SB_2D_SM_029" : ["/html/LXPFA_SB_2D_SM_029.html", "complete"],
        "LXPFA_SB_2D_SM_038" : ["/html/LXPFA_SB_2D_SM_038.html", "complete"],
        "LXPFA_SB_2D_SM_044" : ["/html/LXPFA_SB_2D_SM_044.html", "complete"],
        "LXPFA_SB_2D_SM_056" : ["/html/LXPFA_SB_2D_SM_056.html", "complete"],
        "LXPFA_SB_2D_SM_070" : ["/html/LXPFA_SB_2D_SM_070.html", "complete"],
        "LXPFA_SB_2D_SM_078" : ["/html/LXPFA_SB_2D_SM_078.html", "complete"],
        "LXPFA_SB_2D_SM_082" : ["/html/LXPFA_SB_2D_SM_082.html", "complete"],
      }




    };
    GCui.tree($('#treemenu'), {
      data: data,
      idName:'tree1',
      mainFrame:'#content_frame',
    })
